<nav
  class="top-0 absolute z-50 w-full flex flex-wrap px-2 py-3 navbar-expand-lg"
>
  <div
    class="container px-4 mx-auto flex flex-wrap justify-end"
  >
    <div
      class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start"
      style="width:100%; display: flex; flex-direction: row; justify-content: space-between;"

    >
      <a
        [routerLink]="['/']"
        class="text-white text-lg font-bold leading-relaxed inline-block mr-4 py-4 whitespace-nowrap uppercase"
        style="font-size: 1.25rem; padding: 1rem;"
      >
        Prijava
      </a>
      <a
        [routerLink]="['/']"
        class="text-white text-lg font-bold leading-relaxed inline-block mr-4 py-4 whitespace-nowrap uppercase"
        style="font-size: 1.25rem; padding: 1rem;"
      >
        Registracija
      </a>
    </div>
  </div>
</nav>
