<footer class="relative bg-blueGray-800 pt-8 pb-6 text-white">
  <div class="container mx-auto px-4">
    <div class="flex justify-center text-center lg:text-left">
      <div class="w-full px-4">
        <div class="flex justify-center mb-6">
          <div class="w-full lg:w-auto px-4">
            <span class="block uppercase text-white text-sm font-semibold mb-2 flex justify-center">
              Vorki
            </span>
            <ul class="list-unstyled flex justify-center space-x-4">
              <li>
                <a class="text-white font-semibold text-sm" href="pocetna">
                  O nama
                </a>
              </li>
              <li>
                <a class="text-white font-semibold text-sm" href="oglasi">
                  Kontakt
                </a>
              </li>
              <li>
                <a class="text-white font-semibold text-sm" href="profiles">
                  Uslovi korišćenja
                </a>
              </li>
              <li>
                <a class="text-white font-semibold text-sm"
                  href="https://www.creative-tim.com/bootstrap-themes/free?ref=na-footer">
                  Politika privatnosti
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300" />
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-white font-semibold py-1">
          <span class="text-white">
            © 2024 Vorki - Sva prava zadržana.
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>



<style>
  a:hover {
    color: rgb(255, 232, 60);
  }

  footer {
    background-color: #2d3748;
    /* boja navigacije */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* senka ispod navigacije */
  }
</style>