<footer class="bg-blueGray-800 py-8 text-white">
  <div class="container mx-auto px-4">
    <!-- Gornji deo footera -->
    <div class="flex flex-col items-center text-center">
      <div class="mb-6">
        <span class="block uppercase text-white text-sm font-semibold mb-4">
          Vorki
        </span>
        <ul class="footer-menu">
          <li>
            <a class="text-white hover:text-blueGray-300 font-semibold text-sm" [routerLink]="'/pocetna'">
              O nama
            </a>
          </li>
          <li class="border-l border-white pl-4">
            <a class="text-white hover:text-blueGray-300 font-semibold text-sm" [routerLink]="'/kontakt'">
              Kontakt
            </a>
          </li>
          <li class="border-l border-white pl-4">
            <a class="text-white hover:text-blueGray-300 font-semibold text-sm" href="assets/uslovi.pdf" target="_blank"
              rel="noopener noreferrer">
              Uslovi korišćenja
            </a>
          </li>
          <li class="border-l border-white pl-4">
            <a class="text-white hover:text-blueGray-300 font-semibold text-sm" [routerLink]="'/politika-privatnosti'">
              Politika privatnosti
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Horizontalna linija -->
    <hr class="my-6 border-blueGray-300" />

    <!-- Donji deo footera -->
    <div class="text-center">
      <div class="text-sm text-white font-semibold">
        <span class="text-white">
          © 2024 Vorki - Sva prava zadržana.
        </span>
      </div>
    </div>
  </div>
</footer>


<style>
  @media (max-width: 640px) {

    /* Za mobilne uređaje */
    .footer-menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .footer-menu li {
      margin-bottom: 10px;
      border-left: none !important;
      padding-left: 0 !important;
    }

  }

  @media (min-width: 641px) {

    /* Za veće ekrane */
    .footer-menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 16px;
      /* Razmak između stavki */
    }
  }
</style>