<footer class="bg-blueGray-800 py-8 text-white">
  <div class="container mx-auto px-4">
    <!-- Gornji deo footera -->
    <div class="flex flex-col items-center text-center">
      <!-- Logo i navigacija -->
      <div class="mb-6">
        <span class="block uppercase text-white text-sm font-semibold mb-4">
          Vorki
        </span>
        <ul class="flex flex-wrap justify-center space-x-4">
          <li>
            <a class="text-white hover:text-blueGray-300 font-semibold text-sm" [routerLink]="'/pocetna'">
              O nama
            </a>
          </li>
          <li>
            <a class="text-white hover:text-blueGray-300 font-semibold text-sm" [routerLink]="'/kontakt'">
              Kontakt
            </a>
          </li>
          <li>
            <a
              class="text-white hover:text-blueGray-300 font-semibold text-sm"
              href="assets/uslovi.pdf"
              target="_blank"
              rel="noopener noreferrer"
            >
              Uslovi korišćenja
            </a>
          </li>
          <li>
            <a
              class="text-white hover:text-blueGray-300 font-semibold text-sm"
              [routerLink]="'/politika-privatnosti'"
            >
              Politika privatnosti
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Horizontalna linija -->
    <hr class="my-6 border-blueGray-300" />

    <!-- Donji deo footera -->
    <div class="text-center">
      <div class="text-sm text-white font-semibold">
        <span class="text-white">
          © 2024 Vorki - Sva prava zadržana.
        </span>
      </div>
    </div>
  </div>
</footer>