<app-main-navbar></app-main-navbar>

<div class="page-container bg-modern-contain">
  <div class="flex flex-col lg:flex-row items-center justify-center mt-6 gap-4 w-full" *ngIf="!idUser">

    <input [(ngModel)]="selectedCity" list="cities" name="citySearch" id="citySearch" placeholder="Izaberite grad..."
      class="border border-gray-400 rounded-xl px-4 py-3 w-full shadow-sm transition-all focus:border-gold focus:ring-2 focus:ring-gold hover:border-gold"
      (input)="filterJobs()" />

    <datalist id="cities">
      <option *ngFor="let city of filteredCities" [value]="city.city"></option>
    </datalist>

    <input [(ngModel)]="selectedProfession" list="professions" name="professionSearch" id="professionSearch"
      placeholder="Izaberite profesiju..."
      class="border border-gray-400 rounded-xl px-4 py-3 w-full shadow-sm transition-all focus:border-gold focus:ring-2 focus:ring-gold hover:border-gold"
      (input)="filterJobs()" />

    <datalist id="professions">
      <option *ngFor="let profession of professions" [value]="profession"></option>
    </datalist>

    <select [(ngModel)]="selectedSort"
      class="border border-gray-400 rounded-xl px-4 py-3 shadow-sm transition-all bg-white text-gray-700 focus:border-gold focus:ring-2 focus:ring-gold hover:border-gold"
      (change)="sort()">
      <option value="">Sortiranje</option>
      <option value="rate">Ocena</option>
      <option value="city">Grad</option>
    </select>

  </div>


  <div class="grid grid-cols-1 gap-4 place-items-center mt-4" *ngIf="jobs">
    <div class="py-3" style="width: 70%;" *ngFor="let job of jobs.slice(
        (currentPage - 1) * jobsPerPage,
        currentPage * jobsPerPage
      )">
      <app-single-job-short [job]="job"></app-single-job-short>
    </div>
  </div>

  <div class="mt-4 pb-4 flex justify-center items-center space-x-4" *ngIf="jobs">
    <button class="button-nvg" (click)="prevPage()" [disabled]="currentPage === 1">Prethodna</button>
    <span class="text-blueGray-600">| {{ currentPage }} |</span>
    <button class="button-nvg" (click)="nextPage()" [disabled]="jobs.length <= currentPage * jobsPerPage">
      Sledeća
    </button>
  </div>


  <!-- MIDDLE AD BANNER -->
  <div class="w-full py-8 bg-white">
    <div class="container mx-auto px-4">
      <div class="bg-gray-100 p-4 rounded-lg">
        <div class="text-center text-gray-600">
          <!-- Ad Space -->
          <div class="h-24 flex items-center justify-center border border-dashed border-gray-300">
            <img src="assets/img/banner.png" alt="Reklama" class="h-full w-full object-cover rounded-lg">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<style>
  .page-container {
    /* background-image: url('assets/img/r6.jpg');
    background-size: cover;
    background-position: center; */
    min-height: 100vh;
    padding: 20px;
    padding-top: 20px;
  }

  button:hover {
    background-color: rgb(255, 232, 60);
  }

  button {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
  }

  select {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    width: 100%;
  }

  .gap-4 {
    gap: 1rem;
  }
</style>