/* Pozadina sa teksturom */
.login-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  /* Glavni okvir */
  .login-box {
    width: 100%;
    max-width: 400px;
    background: linear-gradient(135deg, rgba(238, 173, 43, 0.9) 0%, rgba(32, 30, 38, 0.9) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 30px;
    border: 2px solid #eead2b;
  }
  
  /* Naslov */
  .login-title {
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Podnaslov */
  .login-subtitle {
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* Grupa input polja */
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Input polja */
  .form-input {
    width: 100%;
    padding: 12px;
    border: 1px solid #201e26;
    /* background: #9f9f9f; */
    color: #201e26;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s;
  }
  
  .form-input:focus {
    border: 1px solid #eead2b;
  }
  
  /* Dugme */
  .submit-button {
    width: 100%;
    background: #eead2b;
    color: #201e26;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .submit-button:hover {
    background: #201e26;
    color: #eead2b;
  }
  
  /* Linkovi */
  .links-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .link {
    color: #201e26;
    text-decoration: none;
    font-size: 14px;
  }
  
  .link:hover {
    color: #3d79cc;
  }
  
  /* Istaknuti link */
  .link-highlight {
    color: #eead2b;
    font-weight: bold;
    text-decoration: none;
  }
  
  .link-highlight:hover {
    text-decoration: underline;
  }
  
  /* Poruka */
  .message {
    text-align: center;
    color: red;
    margin-top: 15px;
  }
  