<section class="bg-gradient-crna">
    <div>
        <app-main-navbar></app-main-navbar>

        <!-- Pretraživač -->
        <div class="search-box">
            <input type="text" [(ngModel)]="searchQuery" placeholder="Pretražite..."
                (input)="onSearchInput($event.target.value)" />
        </div>

        <!-- Kartice -->
        <div class="cards-grid">
            <div class="category-card" *ngFor="let category of categories">
                <div class="card-header"
                    [ngStyle]="{'background-image': 'url(assets/img/zanimanja/' + formatCategoryToFilename(category) + '.webp)'}">
                    <!-- <img [src]="'assets/img/' + category + '.png'" [alt]="category"> -->
                </div>
                <div class="card-body">
                    <h2>{{category}}</h2>
                    <p>Broj oglasa: <span>{{categoriesCount[category]}}</span></p>
                    <button (click)="categoryChoice(category)">Istraži ponudu</button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>