/* Glavni okvir za registraciju */
.login-container {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

/* Glavni okvir registracije */
.login-box {
  width: 100%;
  max-width: 400px;
  background: linear-gradient(135deg, rgba(238, 173, 43, 0.9) 0%, rgba(32, 30, 38, 0.9) 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 30px;
  margin-top: 0;
  border: 2px solid #eead2b;
}

/* Naslov */
.login-title {
  color: #201e26;
  font-size: 24px;
  font-weight: bold;
}

/* Podnaslov */
.login-subtitle {
  color: #201e26;
  font-size: 14px;
  margin-top: 5px;
}

/* Grupa input polja */
.form-group {
  margin-bottom: 15px;
}

/* Input polja */
.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #201e26;
  /* background: #fcfcfd; */
  color: #201e26; 
  border-radius: 6px;
  outline: none;
  transition: border 0.3s;
}

.form-input:focus {
  border: 1px solid #eead2b;
}

/* Radio dugmadi */
.radio-input {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Dropdown menu */
/* .dropdown-menu {
  position: absolute;
  background-color: #2C3E50;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
} */

/* Dropdown meni */
.dropdown-menu {
  position: absolute;
  background-color: #201e26;
  width: 100%; /* Osiguraj da širina bude 100% roditelja */
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
  left: 0; /* Dodaj ovo kako bi se pozicionirao u okviru roditelja */
  box-sizing: border-box; /* Osiguraj da se padding ne računa u širinu */
}



.dropdown-item {
  width: 100%; 
  box-sizing: border-box; 
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #201e26;
}

/* Dugme */
.submit-button {
  width: 100%;
  background: #eead2b;
  color: #201e26;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.submit-button:hover {
  background: #201e26;
  color: #eead2b;
}

/* Linkovi */
.link-highlight {
  color: #eead2b;
  font-weight: bold;
  text-decoration: none;
}

.link-highlight:hover {
  text-decoration: underline;
}

/* Poruka */
.message {
  text-align: center;
  color: red;
  margin-top: 15px;
}
