.message{
    width: 100%; 
    text-align: center; 
    margin-top: 20px; 
    background-color: rgb(239, 114, 114); 
    color: white; 
    padding: 10px; 
    border-radius: 5px; 
    color: #1e293b;
  }

  button{
    background-color: #1e293b;
    color: #ffe83c;
  }

  button:hover{
    background-color: #ffe83c;
    color: #1e293b;
  }

  .ovde:hover{
    color: #ffe83c;
    background-color: #1e293b;
    border-radius: 5%;
  }


  .messageSucc{
    width: 100%; 
    text-align: center; 
    margin-top: 20px; 
    background-color: rgb(59, 185, 109);
    color: white; 
    padding: 10px; 
    border-radius: 5px; 
    color: #1e293b;
  }
  
  .dropdown {
    position: relative;
    max-width: 400px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .dropdown-item {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
  }
  
  .selected-professions {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .selected-item {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .close-btn {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #444;
    cursor: pointer;
    float: right; /* Pozicionira dugme desno */
    margin-right: 10px;
  }
  
  .close-btn:hover {
    color: #000;
  }
  

  