<div class="login-container bg-gradient-crna py-10">
  <div class="login-box">
    <!-- HEADER -->
    <div class="text-center mb-6">
      <h1 class="login-title">Registracija</h1>
      <p class="login-subtitle">Kreirajte svoj nalog i pridružite se Vorki zajednici!</p>
    </div>

    <form (ngSubmit)="onSubmit()">
      <!-- FIRSTNAME, LASTNAME -->
      <!-- <div class="form-group">
        <input [(ngModel)]="username" name="username" type="text" class="form-input" placeholder="Korisničko ime"
          maxlength="30" required />
      </div> -->

      <div class="form-group flex flex-col md:flex-row gap-4">
        <input [(ngModel)]="firstName" name="firstName" type="text" class="form-input flex-1" placeholder="Ime"
          maxlength="30" required />

        <input [(ngModel)]="lastName" name="lastName" type="text" class="form-input flex-1" placeholder="Prezime"
          maxlength="30" required />
      </div>


      <!-- EMAIL -->
      <div class="form-group">
        <input [(ngModel)]="email" name="email" type="email" class="form-input" placeholder="Email" required />
      </div>

      <!-- LOCATION -->
      <div class="form-group">
        <!-- <label class="text-white">Lokacija</label> -->
        <!-- <div class="flex items-center space-x-4 w-full mb-3"> -->
        <!-- <div class="relative w-3/4">
            <select [(ngModel)]="location" name="location" class="form-input">
              <option *ngFor="let city of filteredCities">{{ city.city }}</option>
            </select>
          </div>
          <div class="relative w-1/4">
            <input [(ngModel)]="searchQuery" name="searchQ" (input)="filterCities()" placeholder="Pretraži..."
              class="form-input" />
          </div> -->
        <input [(ngModel)]="location" type="text" list="cities" name="location" id="citySearch" placeholder="Lokacija"
          class="form-input" (input)="filterCities()" required />
        <datalist id="cities">
          <option *ngFor="let city of filteredCities" [value]="city.city" class="form-input"></option>
        </datalist>
        <!-- </div> -->
      </div>

      <!-- TYPE -->
      <div class="form-group">
        <div class="flex space-x-4">
          <label class="text-white">Tip:</label>
          <div class="flex items-center">
            <input [(ngModel)]="type" name="type" value="1" type="radio" class="radio-input" />
            <label class="text-white">Korisnik</label>
          </div>
          <div class="flex items-center">
            <input [(ngModel)]="type" name="type" value="0" type="radio" class="radio-input" />
            <label class="text-white">Majstor</label>
          </div>
        </div>
      </div>

      <!-- PROFESSIONS -->
      <div *ngIf="type == 0" class="form-group">
        <label class="text-white">Poslovi kojima se bavite</label>
        <div class="dropdown relative">
          <input type="text" name="profess" [(ngModel)]="searchTerm" (focus)="showProfessions()"
            (input)="filterProfessions()" class="form-input" placeholder="Pretraži zanimanja..." />

          <div *ngIf="isDropdownVisible" #dropdown tabindex="0" style="-webkit-overflow-scrolling: touch;"
            class="dropdown-menu absolute bg-white z-10 border rounded w-full max-h-60 overflow-y-auto mt-1 shadow-lg">
            <div class="flex justify-end p-2">
              <button class="text-red-500 font-bold" (click)="hideProfessions()">✖</button>
            </div>

            <div *ngFor="let profession of filteredProfessions"
              class="dropdown-item flex items-center px-4 py-2 hover:bg-gray-100">
              <input type="checkbox" [checked]="selectedProfessions.includes(profession)"
                (change)="toggleSelection(profession)" class="mr-2" />
              <span class="text-basic">{{ profession }}</span>
            </div>
          </div>
        </div>

        <div class="selected-professions mt-2">
          <span *ngFor="let profession of selectedProfessions"
            class="inline-block bg-green-500 text-basic text-sm px-3 py-1 rounded-full mr-2 mb-2">
            {{ profession }}
          </span>
        </div>
      </div>


      <!-- PASSWORD -->
      <div class="form-group">
        <input [(ngModel)]="password" name="password" type="password" class="form-input" placeholder="Lozinka"
          required />
      </div>

      <!-- PASSWORD CONFIRMATION -->
      <div class="form-group">
        <input [(ngModel)]="password1" name="passwordConfirm" type="password" class="form-input"
          placeholder="Ponovite lozinku" required />
      </div>

      <!-- POLICY AGREEMENT -->
      <div class="form-group">
        <label class="inline-flex items-center cursor-pointer text-blueGray-200">
          <input [(ngModel)]="policy" name="policy" type="checkbox" class="form-checkbox" />
          &nbsp;Slažem se sa <a href="assets/uslovi.pdf" class="text-red-600">&nbsp;Politikom privatnosti</a>
        </label>
      </div>

      <!-- NOTIFICATIONS -->
      <div class="form-group">
        <label class="inline-flex items-center cursor-pointer text-blueGray-200">
          <input [(ngModel)]="notification" name="notification" type="checkbox" class="form-checkbox" />
          &nbsp;Želim da dobijam obaveštenja o novim poslovima
        </label>
      </div>

      <!-- SUBMIT BUTTON -->
      <div class="text-center mt-6">
        <button (click)="onSubmit()" class="submit-button">Registrujte se</button>
      </div>

      <!-- LOGIN LINK -->
      <div class="text-center mt-4 text-sm text-blueGray-200">
        Imate nalog? <a [routerLink]="['/autentikacija/prijava']" class="link-highlight">Prijavite se ovde</a>
      </div>

      <!-- MESSAGE -->
      <div *ngIf="message" class="message">
        {{ message }}
      </div>
    </form>
  </div>
</div>