<div class="login-container bg-modern py-10">
  <div class="login-box">
    <!-- HEADER -->
    <div class="text-center mb-6">
      <h1 class="login-title">Registracija</h1>
      <p class="login-subtitle">Kreirajte svoj nalog i pridružite se Vorki zajednici!</p>
    </div>

    <form (ngSubmit)="onSubmit()">
      <!-- USERNAME -->
      <div class="form-group">
        <input [(ngModel)]="username" name="username" type="text" class="form-input" placeholder="Korisničko ime" maxlength="30" required />
      </div>

      <!-- EMAIL -->
      <div class="form-group">
        <input [(ngModel)]="email" name="email" type="email" class="form-input" placeholder="Email" required />
      </div>

      <!-- LOCATION -->
      <div class="form-group">
        <label class="text-white">Lokacija</label>
        <div class="flex items-center space-x-4 w-full mb-3">
          <div class="relative w-3/4">
            <select [(ngModel)]="location" name="location" class="form-input">
              <option *ngFor="let city of filteredCities">{{ city.city }}</option>
            </select>
          </div>
          <div class="relative w-1/4">
            <input [(ngModel)]="searchQuery" name="searchQ" (input)="filterCities()" placeholder="Pretraži..." class="form-input" />
          </div>
        </div>
      </div>

      <!-- TYPE -->
      <div class="form-group">
        <div class="flex space-x-4">
        <label class="text-white">Tip:</label>
          <div class="flex items-center">
            <input [(ngModel)]="type" name="type" value="1" type="radio" class="radio-input" />
            <label class="text-white">Korisnik</label>
          </div>
          <div class="flex items-center">
            <input [(ngModel)]="type" name="type" value="0" type="radio" class="radio-input" />
            <label class="text-white">Majstor</label>
          </div>
        </div>
      </div>

      <!-- PROFESSIONS -->
      <div *ngIf="type == 0" class="form-group">
        <label class="text-white">Poslovi kojima se bavite</label>
        <div class="dropdown">
          <input type="text" name="profess" [(ngModel)]="searchTerm" (focus)="showProfessions()" (input)="filterProfessions()" class="form-input" placeholder="Pretraži zanimanja..." />
          <div *ngIf="isDropdownVisible" class="dropdown-menu">
            <button class="close-btn text-red-500" (click)="hideProfessions()">X</button>
            <div *ngFor="let profession of filteredProfessions" class="dropdown-item text-blueGray-200" (click)="toggleSelection(profession)">
              <input type="checkbox" [checked]="selectedProfessions.includes(profession)" />
              {{ profession }}
            </div>
          </div>
        </div>
        <div class="selected-professions">
          <p *ngFor="let profession of selectedProfessions" class="selected-item text-green-500">{{ profession }}</p>
        </div>
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <input [(ngModel)]="password" name="password" type="password" class="form-input" placeholder="Lozinka" required />
      </div>

      <!-- PASSWORD CONFIRMATION -->
      <div class="form-group">
        <input [(ngModel)]="password1" name="passwordConfirm" type="password" class="form-input" placeholder="Ponovite lozinku" required />
      </div>

      <!-- POLICY AGREEMENT -->
      <div class="form-group">
        <label class="inline-flex items-center cursor-pointer text-blueGray-200">
          <input [(ngModel)]="policy" name="policy" type="checkbox" class="form-checkbox" />
          &nbsp;Slažem se sa <a href="assets/uslovi.pdf" class="text-red-600">&nbsp;Politikom privatnosti</a>
        </label>
      </div>

      <!-- NOTIFICATIONS -->
      <div class="form-group">
        <label class="inline-flex items-center cursor-pointer text-blueGray-200">
          <input [(ngModel)]="notification" name="notification" type="checkbox" class="form-checkbox" />
          &nbsp;Želim da dobijam obaveštenja o novim poslovima
        </label>
      </div>

      <!-- SUBMIT BUTTON -->
      <div class="text-center mt-6">
        <button (click)="submit()" class="submit-button">Registrujte se</button>
      </div>

      <!-- LOGIN LINK -->
      <div class="text-center mt-4 text-sm text-blueGray-200">
        Imate nalog? <a [routerLink]="['/autentikacija/prijava']" class="link-highlight">Prijavite se ovde</a>
      </div>

      <!-- MESSAGE -->
      <div *ngIf="message" class="message">
        {{ message }}
      </div>
    </form>
  </div>
</div>
