

<div class="container mx-auto px-4 h-full">
  <div class="flex content-center items-center justify-center h-full">
    <div class="w-full lg:w-6/12 px-4">
      <div
        class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-200 border-0"
      >
        <div class="rounded-t mb-0 px-6 py-6" >
          <div class="text-center mb-3" >
            <h2 class="text-blueGray-500 text-xl font-bold">Registracija</h2>
          </div>
          <hr class="mt-6 border-b-1 border-blueGray-300" />
        </div>
        <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
          <form>

            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Korisničko ime
              </label>
              <input
                [(ngModel)]="korisnickoIme"
                name="korisnickoIme"
                type="text"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Korisničko ime"
                maxlength="50"
              />
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Email
              </label>
              <input
                [(ngModel)]="email"
                name="email"
                type="email"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Email"
                maxlength="50"
              />
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Ime
              </label>
              <input
                [(ngModel)]="ime"
                name="ime"
                type="text"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Ime"
                maxlength="50"
              />
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Prezime
              </label>
              <input
                [(ngModel)]="prezime"
                name="prezime"
                type="text"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Prezime"
                maxlength="50"
              />
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Datum rođenja
              </label>
              <input
                [(ngModel)]="datumRodjenja"
                name="datumRodjenja"
                type="date"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                maxlength="50"
              />
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Broj telefona
              </label>
              <input
                [(ngModel)]="brojTelefona"
                name="brojTelefona"
                type="text"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="+381XXXXXXXXX"
                maxlength="15"
              />
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Mesto
              </label>
              <select [(ngModel)]="mesto"
              name="mesto"  style="margin-bottom: 10px;" class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150">
                <option *ngFor="let grad of gradovi" >{{ grad.city }}</option>
              </select>
            </div>
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Uloga
              </label>
              <div style="display: flex; flex-direction: row; justify-content: space-around;">
               <div style="display: flex; flex-direction: row; align-items: center;">
                    <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlFor="grid-password"
                    style="margin-right: 10px;"
                  >
                    Korisnik
                  </label>
                    <input
                    [(ngModel)]="role"
                    name="role"
                    value="K"
                    type="checkbox"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                    name = "uloga"
                    style="width: 10%;"
                  />
               </div>
               <div style="display: flex; flex-direction: row; align-items: center;">
                <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
                style="margin-right: 10px;"
              >
                Majstor
              </label>
                <input
                [(ngModel)]="ulogaM"
                name="ulogaM"
                type="checkbox"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                name = "uloga"
                value="M"
                style="width: 10%;"
              />
           </div>

              </div>
            </div>

           
          
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Lozinka
              </label>
              <input
                [(ngModel)]="lozinka"
                name="lozinka"
                type="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Lozinka"
                maxlength="100"
              />
            </div> 

       
            <div class="relative w-full mb-3">
              <label
                class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                htmlFor="grid-password"
              >
                Ponovite lozinku
              </label>
              <input
                [(ngModel)]="lozinka1"
                name="lozinka1"
                type="password"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                placeholder="Ponovite lozinku"
                maxlength="100"
              />
            </div>

            <div>
              <label class="inline-flex items-center cursor-pointer">
                <input
                  [(ngModel)]="politika"
                  name="politika"
                  id="customCheckLogin"
                  type="checkbox"
                  class="form-checkbox border-0 text-blueGray-700 ml-1 w-5 h-5 ease-linear transition-all duration-150 rounded"
                />
                <span class="ml-2 text-sm font-semibold text-blueGray-600">
                  Slažem se sa 
                  <a href="javascript:void(0)" class="text-red-600">
                    Politikom Privatnosti
                  </a>
                </span>
              </label>
            </div>

            <div class="text-center mt-6">
              <button
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
                type="button"
                (click) = "potvrdi()"
              >
                Registruj se
              </button>
            </div>
         
            <div *ngIf="poruka" style="width: 100%; text-align: center; margin-top: 20px; background-color: rgb(239, 114, 114); color: white; padding: 10px; border-radius: 5px; ">
              {{poruka}}
            </div>

          </form>
         
        </div>
      
      </div>
      <div class="flex flex-wrap mt-6 relative">
        <div class="w-1/2">
          <a [routerLink]="['/autentikacija/prijava']" class="text-blueGray-200" style="font-size: 20px;">
            <small>Imate profil? Prijavite se!</small>
          </a>
        </div>
    </div>
    
  </div>
</div>
