<main class="profile-page full-page main-container bg-gradient-crna">
    <app-main-navbar></app-main-navbar>
    <!-- 
  <section class="relative block h-500-px">
    <div class="absolute top-0 w-full h-full bg-center bg-cover bg-no-repeat image-container" style="background-image: url({{backPhoto}})">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
  </section> -->

    <section style="margin-top: 300px;">
        <div class="container mx-auto px-4" style="display: flex; flex-direction: row;">
            <div
                class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-xl rounded-lg -mt-64 profile-info-card">
                <div class="px-6">
                    <div class="flex flex-wrap justify-center">
                        <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center profile-picture-wrapper">
                            <div class="relative flex justify-center items-center">
                                <img src="{{photo}}"
                                    style="border-radius: 50%; height: 100px; width: 100px; object-fit: cover;"
                                    class="border border-solid border-crna">
                            </div>
                        </div>
                        <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center c">
                            <div class="flex justify-center py-4 lg:pt-4">
                                <!-- <div class="mr-4 p-3 text-center">
                  <span class="text-xl text-zlatna font-bold block uppercase tracking-wide">
                    {{jobNumber}}
                  </span>
                  <span class="text-sm text-crna">Broj oglasa</span>
                </div> -->
                                <div class="mr-4 p-3 text-center">
                                    <span class="text-xl text-crna font-bold block uppercase tracking-wide"
                                        *ngIf="finishedJobs!=0">
                                        {{userRate}}
                                    </span>
                                    <span class="text-xl text-crna font-bold block uppercase tracking-wide"
                                        *ngIf="finishedJobs==0">
                                        -
                                    </span>
                                    <span class="text-sm text-crna">Ocena</span>
                                </div>
                                <div class="mr-4 p-3 text-center text-white">
                                    <span class="text-xl text-crna font-bold block uppercase tracking-wide">
                                        {{finishedJobs}}
                                    </span>
                                    <span class="text-sm text-crna">Odrađenih poslova</span>
                                </div>
                                <div class="mr-4 p-3 text-center text-white" *ngIf="idUser == cookie">
                                    <span class="text-xl text-crna font-bold block uppercase tracking-wide">
                                        {{profileClicks}}
                                    </span>
                                    <span class="text-sm text-crna">Posete profilu</span>
                                </div>
                                <div class="mr-4 p-3 text-center text-white" *ngIf="idUser == cookie">
                                    <span class="text-xl text-crna font-bold block uppercase tracking-wide">
                                        {{phoneClicks}}
                                    </span>
                                    <span class="text-sm text-crna">Interesovanje</span>
                                </div>
                                <!-- <div class="lg:mr-4 p-3 text-center">
                  <span
                    class="text-xl font-bold block uppercase tracking-wide text-blueGray-600"
                  >
                    {{comments.length}}
                  </span>
                  <span class="text-sm text-white">Komentari</span>
                </div> -->
                            </div>
                            <!-- buttons -->
                            <div class="py-3 px-3 mt-0 sm:mt-16 button-container"
                                style="display: flex; flex-direction: column; align-items: center;">
                                <!-- <button
                  class="uppercase text-crna font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150 button-list border-2 border-solid border-crna"
                  type="button" (click)="calendar()"> Kalendar
                </button> -->
                                <button *ngIf="idUser==cookie"
                                    class="uppercase text-crna font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150 button-list border-2 border-solid border-crna"
                                    type="button" (click)="settings()">
                                    Podešavanja
                                </button>
                                <button *ngIf="idUser!=cookie && type=='0'"
                                    class="uppercase text-crna font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150 button-list border-2 border-solid border-crna"
                                    type="button" (click)="showModal = true" [disabled]="!isRequest">
                                    {{ requestMsg }}
                                </button>
                            </div>
                        </div>
                        <div class="w-full lg:w-4/12 px-4 lg:order-1">
                            <div class="text-center mt-12">
                                <h3 class="text-3xl text-crna font-semibold leading-normal mb-2 mb-2 sm:text-xl">
                                    {{firstname}}&nbsp;{{lastname}}
                                </h3>
                                <div class="text-md text-crna leading-normal mt-0 mb-2 font-bold uppercase">
                                    <i class="fas fa-map-marker-alt mr-2 text-lg text-location"></i>
                                    {{location}}
                                </div>
                                <div class="mb-2 text-crna font-bold" *ngIf="type=='0'">
                                    <i class="fas fa-user mr-2 text-lg text-crna"></i>
                                    {{ professionsString }}
                                </div>
                                <a class="mb-2 text-crna font-bold" *ngIf="phone" [href]="'tel:' + phone"
                                    (click)="trackPhoneClick()">
                                    <i class="fas fa-phone mr-2 text-lg text-telefon"></i>
                                    {{ phone }}
                                </a>
                                <div class="mb-2 text-crna">
                                    <button
                                        class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                        type="button" *ngIf="facebook" (click)="facebook1()">
                                        <i class="fab fa-facebook-f"></i>
                                    </button>
                                    <button
                                        class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                        type="button" *ngIf="instagram" (click)="instagram1()">
                                        <i class="fab fa-instagram"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MODAL ZA SLANJE ZAHTEVA -->
    <div *ngIf="showModal" class="custom-modal-overlay">
        <div class="custom-modal">
            <h2 class="modal-title" *ngIf="!modalDisabled">Pošalji zahtev majstoru</h2>
            <h2 class="modal-title" *ngIf="modalDisabled">Informacije o zahtevu korisnika</h2>

            <label *ngIf="!modalDisabled">Vreme kada želite da majstor dođe</label>
            <label *ngIf="modalDisabled">Vreme kada korisnik želi da dođete</label>

            <input type="datetime-local" [(ngModel)]="requestDetails.time" [disabled]="modalDisabled" />

            <label *ngIf="!modalDisabled">Dodatne informacije za majstora</label>
            <label *ngIf="modalDisabled">Dodatne informacije o poslu</label>

            <textarea rows="3" [(ngModel)]="requestDetails.additionalInfo" [disabled]="modalDisabled"></textarea>

            <label *ngIf="!modalDisabled">Adresa</label>
            <label *ngIf="modalDisabled">Adresa korisnika</label>
            <input type="text" [(ngModel)]="requestDetails.address" [disabled]="modalDisabled" />

            <label *ngIf="!modalDisabled">Kontakt telefon</label>
            <label *ngIf="modalDisabled">Kontakt telefon</label>
            <input type="tel" [(ngModel)]="requestDetails.phone" [disabled]="modalDisabled" />

            <div class="modal-buttons" *ngIf="!modalDisabled">
                <button (click)="showModal = false" class="cancel-btn">Otkaži</button>
                <button (click)="sendOffer()" class="send-btn">Pošalji</button>
            </div>
            <div class="modal-buttons" *ngIf="modalDisabled">
                <div class="bg-crna rounded-lg justify-center text-center star-btn"
                    *ngIf="currRequest.currentStatus == 'accepted' && type == '1'">
                    <ng-container *ngFor="let star of stars; let i = index">
                        <span class="cursor-pointer text-2xl" [class.text-yellow-400]="i < selectedRating"
                            [class.text-gray-400]="i >= selectedRating" (click)="setRating(i + 1)">
                            ★
                        </span>
                    </ng-container>
                </div>
                <button (click)="acceptRequest()" class="accept-btn"
                    *ngIf="currRequest.currentStatus == 'offer' && !isMasterOpen">Prihvati</button>
                <button (click)="declineRequest()" class="cancel-btn"
                    *ngIf="currRequest.currentStatus == 'offer' && !isMasterOpen">Odbij</button>
                <button (click)="finishRequest()" class="send-btn"
                    *ngIf="currRequest.currentStatus == 'accepted' && type == '1'">Oceni i završi</button>
                <button (click)="cancelRequest()" class="cancel-btn"
                    *ngIf="currRequest.currentStatus == 'accepted'">Otkaži</button>
                <button (click)="showModal = false; modalDisabled = false" class="basic-btn">Zatvori</button>
            </div>



        </div>
    </div>



    <section class="mb-4" *ngIf="userInfo">
        <div class="flex justify-center items-center mt-10 px-4 rounded-lg">
            <div
                class="w-full max-w-2xl bg-basic rounded-2xl shadow-lg p-6  border border-solid border-crna rounded-lg">
                <h2 class="text-3xl font-semibold text-crna mb-4 mt-4 text-center">Detalji</h2>
                <hr class="border border-solid border-zlatna" />
                <p class="text-crna text-center font-semibold text-xl leading-relaxed whitespace-pre-wrap mb-4 mt-4">
                    {{ userInfo }}
                </p>
            </div>
        </div>
    </section>

    <!-- GALERIJA SVIH SLIKA -->
    <section class="relative" *ngIf="imagesLoaded">
        <div class="container mx-auto px-4 gallery-wrapper"
            style="display: flex; flex-direction: row; justify-content: space-between;">
            <div class="relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg">
                <div class="rounded-t mb-0 border-0">
                    <div class="flex flex-wrap items-center">
                        <div class="relative w-full px-4 max-w-full flex-grow flex-1">
                            <h3 class="text-4xl font-semibold leading-normal mb-2 text-center text-basic">
                                Galerija
                            </h3>
                        </div>
                    </div>
                </div>
                <gallery id="{{galleryId}}" *ngIf="imagesLoaded"
                    style="width: 100% !important; height: 500px !important; object-fit: cover;"
                    (indexChange)="onIndexChange($event)"></gallery>
            </div>
        </div>
    </section>

    <!-- MAJSTOR -->
    <div class="flex justify-center px-4" style="width: 100%;" *ngIf="idUser==cookie && jobOffers.length > 0">
        <div class="overflow-x-auto w-full">
            <h3 class="text-2xl font-bold text-center text-basic mb-4 pb-2" *ngIf="type=='0'">
                Ponude za posao
            </h3>
            <h3 class="text-2xl font-bold text-center text-basic mb-4 pb-2" *ngIf="type=='1'">
                Ponude majstora za oglase koje ste objavili
            </h3>
            <table
                class="job-table w-full shadow-xl rounded-2xl overflow-hidden border border-crna bg-basic rounded-lg">
                <thead *ngIf="jobOffers.length > 0">
                    <tr class="bg-gradient-to-r from-[#1a181f] via-[#201e26] to-[#2a2733] text-[#fcfcfd]">
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider"
                            *ngIf="type=='0'">
                            Korisnik</th>
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider"
                            *ngIf="type=='1'">
                            Majstor</th>
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider">Detalji
                            posla</th>
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider">Status
                            posla</th>
                    </tr>
                </thead>
                <tbody *ngIf="jobOffers.length > 0" class="bg-[#201e26]">
                    <ng-container *ngFor="let request of jobOffers">
                        <tr *ngIf="request.currentStatus != 'finished'"
                            class="border-b border-crna hover:bg-[#2b2935] transition-colors duration-200">
                            <td class="py-4 px-6 text-[#fcfcfd] text-center text-lg font-medium">
                                <a [routerLink]="['/profil', request.idUser]"
                                    class="hover:text-[#eead2b] transition duration-200 underline-offset-4 hover:underline font-semibold">
                                    {{ request.firstname }}&nbsp;{{ request.lastname }}
                                </a>
                            </td>
                            <td class="py-4 px-6 text-center">
                                <button
                                    class="w-1/2 bg-zlatna text-crna px-4 py-2 rounded-xl text-lg font-semibold transition duration-200 shadow-md border border-crna details-btn rounded"
                                    (click)="showDetails(request, false)">
                                    Detalji
                                </button>
                            </td>
                            <td class="py-4 px-6 text-[#fcfcfd] text-center text-lg font-medium font-semibold">
                                {{ request.currentStatus === 'accepted' ? 'Prihvaćen' : request.currentStatus ===
                                'declined' ? 'Odbijen'
                                :
                                request.currentStatus === 'canceled' ? 'Otkazan' : request.currentStatus === 'offer' ?
                                'Ponuda' :
                                request.currentStatus === 'pending' ? 'Na čekanju' : 'Završen' }}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div class="job-cards space-y-4">
                <ng-container *ngFor="let request of jobOffers">
                    <div *ngIf="request.currentStatus != 'finished'"
                        class="bg-basic border border-crna rounded-xl p-4 shadow-md">
                        <div class="text-[#fcfcfd] font-semibold mb-2">
                            <ng-container *ngIf="type == '0'">
                                Korisnik:
                                <a [routerLink]="['/profil', request.idUser]"
                                    class="hover:text-[#eead2b] underline-offset-4 hover:underline">
                                    {{ request.firstname }} {{ request.lastname }}
                                </a>
                            </ng-container>
                            <ng-container *ngIf="type == '1'">
                                Majstor:
                                <a [routerLink]="['/profil', request.idMaster]"
                                    class="hover:text-[#eead2b] underline-offset-4 hover:underline">
                                    {{ request.firstname }} {{ request.lastname }}
                                </a>
                            </ng-container>
                        </div>

                        <div class="mb-2">
                            <button
                                class="w-full bg-zlatna text-crna px-4 py-2 rounded-xl text-base font-semibold transition duration-200 shadow-md border border-crna"
                                (click)="showDetails(request, false)">
                                Detalji
                            </button>
                        </div>

                        <div class="flex items-center space-x-1">
                            {{ request.currentStatus === 'accepted' ? 'Prihvaćen' : request.currentStatus === 'declined'
                            ? 'Odbijen'
                            :
                            request.currentStatus === 'canceled' ? 'Otkazan' : request.currentStatus === 'offer' ?
                            'Ponuda' :
                            request.currentStatus === 'pending' ? 'Na čekanju' : 'Završen' }}
                        </div>
                    </div>
                </ng-container>
            </div>

        </div>
    </div>


    <!-- POSLOVI ZA KOJE JE MAJSTOR POSLAO ZAHTEV -->
    <div class="flex justify-center py-8 px-4" style="width: 100%;" *ngIf="idUser==cookie && myJobRequests.length > 0">
        <div class="overflow-x-auto w-full">
            <h3 class="text-2xl font-bold text-center text-basic mb-4 pb-2" *ngIf="type=='0'">
                Poslovi za koje ste zainteresovani
            </h3>
            <h3 class="text-2xl font-bold text-center text-basic mb-4 pb-2" *ngIf="type=='1'">
                Odgovori majstora kojima ste poslali zahtev
            </h3>
            <table
                class="w-full job-table shadow-xl rounded-2xl overflow-hidden border border-crna bg-basic rounded-lg">
                <thead *ngIf="myJobRequests.length > 0">
                    <tr class="bg-gradient-to-r from-[#1a181f] via-[#201e26] to-[#2a2733] text-[#fcfcfd]">
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider"
                            *ngIf="type=='0'">
                            Korisnik</th>
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider"
                            *ngIf="type=='1'">
                            Majstor</th>
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider">Detalji
                            posla</th>
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider">Status
                            posla</th>
                    </tr>
                </thead>
                <tbody *ngIf="myJobRequests.length > 0">
                    <ng-container *ngFor="let request of myJobRequests">
                        <tr *ngIf="request.currentStatus != 'finished'"
                            class="border-b border-crna hover:bg-[#2b2935] transition-colors duration-200">
                            <td class="py-4 px-6 text-[#fcfcfd] text-center text-lg font-medium">
                                <a [routerLink]="['/profil', request.idMaster]"
                                    class="hover:text-[#eead2b] transition duration-200 underline-offset-4 hover:underline font-semibold">
                                    {{ request.firstname }}&nbsp;{{ request.lastname }}
                                </a>
                            </td>
                            <td class="py-4 px-6 text-center">
                                <button
                                    class="w-1/2 bg-zlatna text-crna px-4 py-2 rounded-xl text-lg font-semibold transition duration-200 shadow-md border border-crna details-btn rounded"
                                    (click)="showDetails(request, true)">
                                    Detalji
                                </button>
                            </td>
                            <td class="py-4 px-6 text-[#fcfcfd] text-center text-lg font-medium font-semibold">
                                {{ request.currentStatus === 'accepted' ? 'Prihvaćen' : request.currentStatus ===
                                'declined' ? 'Odbijen'
                                :
                                request.currentStatus === 'canceled' ? 'Otkazan' : request.currentStatus === 'offer' ?
                                'Na čekanju' :
                                request.currentStatus === 'pending' ? 'Na čekanju' : 'Završen' }}
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div class="job-cards space-y-4">
                <ng-container *ngFor="let request of myJobRequests">
                    <div *ngIf="request.currentStatus != 'finished'"
                        class="bg-basic border border-crna rounded-xl p-4 shadow-md">
                        <div class="text-[#fcfcfd] font-semibold mb-2">
                            <ng-container *ngIf="type == '0'">
                                Korisnik:
                                <a [routerLink]="['/profil', request.idMaster]"
                                    class="hover:text-[#eead2b] underline-offset-4 hover:underline">
                                    {{ request.firstname }} {{ request.lastname }}
                                </a>
                            </ng-container>
                            <ng-container *ngIf="type == '1'">
                                Majstor:
                                <a [routerLink]="['/profil', request.idMaster]"
                                    class="hover:text-[#eead2b] underline-offset-4 hover:underline">
                                    {{ request.firstname }} {{ request.lastname }}
                                </a>
                            </ng-container>
                        </div>

                        <div class="mb-2">
                            <button
                                class="w-full bg-zlatna text-crna px-4 py-2 rounded-xl text-base font-semibold transition duration-200 shadow-md border border-crna"
                                (click)="showDetails(request, true)">
                                Detalji
                            </button>
                        </div>

                        <div class="flex items-center space-x-1">
                            {{ request.currentStatus === 'accepted' ? 'Prihvaćen' : request.currentStatus === 'declined'
                            ? 'Odbijen'
                            :
                            request.currentStatus === 'canceled' ? 'Otkazan' : request.currentStatus === 'offer' ? 'Na
                            čekanju' :
                            request.currentStatus === 'pending' ? 'Na čekanju' : 'Završen' }}
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>



    <!-- ISTORIJA POSLOVA -->
    <div class="flex justify-center py-8 px-4 w-full" style="width: 100%;"
        *ngIf="idUser==cookie && myJobRequests.length > 0">
        <div class="overflow-x-auto w-full">
            <h3 class="text-2xl font-bold text-center text-basic mb-4 pb-2">
                Pregled vaše istorije poslova
            </h3>
            <table
                class="w-full job-table w-full shadow-xl rounded-2xl overflow-hidden border border-crna bg-basic rounded-lg">
                <thead *ngIf="myJobRequests.length > 0">
                    <tr class="bg-gradient-to-r from-[#1a181f] via-[#201e26] to-[#2a2733] text-[#fcfcfd]">
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider"
                            *ngIf="type == '0'">
                            Korisnik</th>
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider"
                            *ngIf="type == '1'">
                            Majstor</th>
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider">Detalji
                            posla</th>
                        <th class="py-5 px-6 w-1/3 text-center uppercase text-xl font-semibold tracking-wider">Ocena
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="myJobRequests.length > 0">
                    <ng-container *ngFor="let request of myJobRequests">
                        <tr *ngIf="request.currentStatus == 'finished'"
                            class="border-b border-crna hover:bg-[#2b2935] transition-colors duration-200">
                            <td class="py-4 px-6 text-[#fcfcfd] text-center text-lg font-medium">
                                <a [routerLink]="['/profil', request.idMaster]"
                                    class="hover:text-[#eead2b] transition duration-200 underline-offset-4 hover:underline font-semibold">
                                    {{ request.firstname }}&nbsp;{{ request.lastname }}
                                </a>
                            </td>
                            <td class="py-4 px-6 text-center">
                                <button
                                    class="w-1/2 bg-zlatna text-crna px-4 py-2 rounded-xl text-lg font-semibold transition duration-200 shadow-md border border-crna details-btn rounded"
                                    (click)="showDetails(request, true)">
                                    Detalji
                                </button>
                            </td>
                            <td class="py-4 px-6 text-[#fcfcfd] text-center text-lg font-medium font-semibold">
                                <!-- {{ request.rate ? request.rate : '-' }} -->
                                <ng-container *ngFor="let star of stars; let i = index">
                                    <span class="text-2xl" [class.text-yellow-400]="i < request.rate"
                                        [class.text-gray-400]="i >= request.rate">
                                        ★
                                    </span>
                                </ng-container>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>

            <div class="job-cards space-y-4">
                <ng-container *ngFor="let request of myJobRequests">
                    <div *ngIf="request.currentStatus === 'finished'"
                        class="bg-basic border border-crna rounded-xl p-4 shadow-md">
                        <div class="text-[#fcfcfd] font-semibold mb-2">
                            <ng-container *ngIf="type == '0'">
                                Korisnik:
                                <a [routerLink]="['/profil', request.idMaster]"
                                    class="hover:text-[#eead2b] underline-offset-4 hover:underline">
                                    {{ request.firstname }} {{ request.lastname }}
                                </a>
                            </ng-container>
                            <ng-container *ngIf="type == '1'">
                                Majstor:
                                <a [routerLink]="['/profil', request.idMaster]"
                                    class="hover:text-[#eead2b] underline-offset-4 hover:underline">
                                    {{ request.firstname }} {{ request.lastname }}
                                </a>
                            </ng-container>
                        </div>

                        <div class="mb-2">
                            <button
                                class="w-full bg-zlatna text-crna px-4 py-2 rounded-xl text-base font-semibold transition duration-200 shadow-md border border-crna"
                                (click)="showDetails(request, true)">
                                Detalji
                            </button>
                        </div>

                        <div class="flex items-center space-x-1">
                            Ocena:
                            <ng-container *ngFor="let star of stars; let i = index">
                                <span class="text-xl" [class.text-yellow-400]="i < request.rate"
                                    [class.text-gray-400]="i >= request.rate">
                                    ★
                                </span>
                            </ng-container>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>





    <!-- MOJI OGLASI -->
    <!-- <section>
    <h3 class="text-4xl font-semibold leading-normal mb-2 text-center text-basic">
      Oglasi
    </h3>
    <div class="grid grid-cols-3 gap-4 place-items-center mt-4 job-container" *ngIf="jobs">
      <div class="py-3 job-item" style="width: 70%;" *ngFor="let job of jobs">
        <app-single-job-short [job]="job"></app-single-job-short>
      </div>
    </div>
  </section> -->

</main>

<app-footer></app-footer>