<app-main-navbar></app-main-navbar>

<main class="profile-page full-page">
  <section class="relative block h-500-px">
    <div class="absolute top-0 w-full h-full bg-center bg-cover image-container"
      style="background-image: url({{backPhoto}})">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
  </section>

  <section class="relative py-16 bg-zuta">
    <div class="container mx-auto px-4" style="display: flex; flex-direction: row;">
      <div class="relative flex flex-col min-w-0 break-words bg-plava w-full mb-6 shadow-xl rounded-lg -mt-64">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center">
              <div class="relative flex justify-center items-center">
                <img src="{{photo}}" style="border-radius: 50%; height: 100px; width: 100px; object-fit: cover;">
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center c">
              <div class="flex justify-center py-4 lg:pt-4 pt-8">
                <div class="mr-4 p-3 text-center">
                  <span class="text-xl text-white font-bold block uppercase tracking-wide">
                    {{jobNumber}}
                  </span>
                  <span class="text-sm text-white">Broj poslova</span>
                </div>
                <div class="mr-4 p-3 text-center" *ngIf="type=='0'">
                  <span class="text-xl text-white font-bold block uppercase tracking-wide">
                    {{userRate}}
                  </span>
                  <span class="text-sm text-white">Ocena</span>
                </div>
                <div class="mr-4 p-3 text-center text-white" *ngIf="type=='0'">
                  <span class="text-xl text-white font-bold block uppercase tracking-wide">
                    {{userRateLen}}
                  </span>
                  <span class="text-sm">Broj ocena </span>
                </div>
                <!-- <div class="lg:mr-4 p-3 text-center">
                  <span
                    class="text-xl font-bold block uppercase tracking-wide text-blueGray-600"
                  >
                    {{comments.length}}
                  </span>
                  <span class="text-sm text-white">Komentari</span>
                </div> -->
              </div>

              <!-- <div class="py-3 px-3 mt-0 sm:mt-16" style="display: flex; flex-direction: column; align-items: center;" *ngIf="cookie!=idUser">            
                  <div style="display: flex; flex-direction: row; padding: 3px; ">
                      <i class="fas fa-star" [ngClass]="{'text-red-500': rating >= 1, 'text-gray-500': rating < 1}" style="font-size: 30px;" id="1" (click)="setRating(1)"></i>
                      <i class="fas fa-star" [ngClass]="{'text-red-500': rating >= 2, 'text-gray-500': rating < 2}" style="font-size: 30px;" id="2" (click)="setRating(2)"></i>
                      <i class="fas fa-star" [ngClass]="{'text-red-500': rating >= 3, 'text-gray-500': rating < 3}" style="font-size: 30px;" id="3" (click)="setRating(3)"></i>
                      <i class="fas fa-star" [ngClass]="{'text-red-500': rating >= 4, 'text-gray-500': rating < 4}" style="font-size: 30px;" id="4" (click)="setRating(4)"></i>
                      <i class="fas fa-star" [ngClass]="{'text-red-500': rating >= 5, 'text-gray-500': rating < 5}" style="font-size: 30px;" id="5" (click)="setRating(5)"></i>
                  </div>
                  <button
                  style="margin-top: 5px;background-color: rgb(255, 232, 60); color:rgb(30, 41, 59); "
                  (click) = "rate()"
                  class="uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                  Potvrdi
                </button>
              </div> -->
              <div class="py-3 px-3 mt-0 sm:mt-16" style="display: flex; flex-direction: column; align-items: center;"
                *ngIf="cookie==idUser">
                <div style="display: flex; flex-direction: row;">
                  <button
                    class="uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                    type="button" (click)="calendar()"> Kalendar
                  </button>
                  <button
                    class="uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                    type="button" (click)="settings()">
                    Podešavanja
                  </button>
                  <button
                    class="uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                    type="button" (click)="jobs1()">
                    <div *ngIf="type=='0'"> Moji oglasi</div>
                    <div *ngIf="type=='1'"> Svi oglasi</div>
                  </button>
                </div>
              </div>
              <div class="py-3 px-3 mt-0 sm:mt-16" style="display: flex; flex-direction: column; align-items: center;"
                *ngIf="cookie!=idUser">
                <div style="display: flex; flex-direction: row;">
                  <button
                    class="uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                    type="button" (click)="oglasi()">
                    Svi oglasi
                  </button>
                </div>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-1">
              <div class="text-center mt-12">
                <h3 class="text-3xl text-white font-semibold leading-normal mb-2 mb-2 sm:text-xl">
                  {{firstname}}&nbsp;{{lastname}}
                </h3>
                <div class="text-md text-white leading-normal mt-0 mb-2 font-bold uppercase">
                  <i class="fas fa-map-marker-alt mr-2 text-lg"></i>
                  {{location}}
                </div>
                <div class="mb-2 text-white">
                  <i class="fas fa-birthday-cake mr-2 text-lg"></i>
                  {{ birthday | date: 'dd.MM.yyyy.' }}
                </div>
                <div class="mb-2 text-white">
                  <i class="fas fa-phone mr-2 text-lg"></i>
                  {{phone}}
                </div>
                <div class="mb-2 text-white">
                  <button
                    class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                    type="button" *ngIf="facebook" (click)="facebook1()">
                    <i class="fab fa-facebook-f"></i>
                  </button>
                  <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                    type="button" *ngIf="instagram" (click)="instagram1()">
                    <i class="fab fa-instagram"></i>
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
        <div class="rounded-t mb-0 px-4 py-3 border-0" style="margin-top: 15px;">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
              <hr>
              <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2 text-center">Komentari</h3>
            </div>
          
          </div>
        </div>
        </div>     -->
        <!-- <div class="block w-full overflow-x-auto">
          <table class="items-center w-full bg-transparent border-collapse" >
            <tbody>
              <tr style="display: flex; flex-direction: row; align-items: center; padding: 10px; " *ngFor="let comm of comments.slice(0, visibleComments) "  class="border-t-0 px-6 align-middle border-l-0 border-r-0  whitespace-nowrap  text-left">
                  <img
                  alt="..."
                  src = "{{photo}}"
                  class="shadow-xl rounded-full border-none"
                  style="width: 30px; height: 30px; margin: 5px;"
                /> <i>{{comm.username}} {{ comm.dateC | date: 'dd.MM.yyyy' }}:</i>  &nbsp; &nbsp; {{comm.comment}}
                <br>
                <div style="width:100%;display: flex; justify-content: flex-end;" *ngIf="comm.idCommentator == cookie"><i class='fas fa-trash-alt' style='font-size:24px' (click)="deleteComment(comm.id)"></i>
                </div>
              
              </tr>
              <tr>
                <div style="background-color: white; " class="relative w-full px-4 max-w-full flex-grow flex-1 text-center">
                  <button
                  style="margin:10px;"
                    (click) = "more()"
                    class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                    type="button"
                  >
                  Prikaži više
                  </button>
          
                  <button
                  style="margin:10px;"
                  (click) = "less()"
                  class="bg-indigo-500 text-white active:bg-indigo-600 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                  type="button"
                >
                Prikaži manje
                </button>
                </div>
              </tr>
              <tr style="display: flex; flex-direction: row; justify-content: space-between;">
                <input
                        style="margin: 5px; width: 100%;"
                        name="comment"
                        type="text"
                        [(ngModel)] = "comment"
                        class="border-0  placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                        placeholder="Unesite komentar"
                        [disabled]="cookie === idUser"
                      />
                      <button
                    
                      style="padding: 5px;"
                      class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase  rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1  ease-linear transition-all duration-150"
                      type="button"
                      (click)="addComment()"
                    >
                    Pošalji
                    </button>
              </tr>
            
            </tbody>
          </table>
        </div> -->
        <!-- <div style="display: flex; flex-direction: column; gap: 20px; margin-top: 20px;" *ngIf = "images.length">
          <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2 text-center">Galerija</h3>
          <hr>
          <gallery *ngIf="imagesLoaded"  [items]="images" style="     background-color: transparent !important;  width: 100% !important;height: 750px !important;object-fit: cover;"></gallery>

        </div>
        <div style="display: flex; flex-direction: column; gap: 20px; margin-top: 20px;">
          <h3 class="text-4xl font-semibold leading-normal mb-2 text-blueGray-700 mb-2 text-center">Svi oglasi</h3>
          <hr>
          <div class="grid grid-cols-1 gap-4 place-items-center">
            <div class="py-3 w-1/2" *ngFor="let job of jobs">
                <app-single-job-short [job]="job"></app-single-job-short>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </section>

  <!-- MAJSTOR -->
  <div class="flex justify-center py-8 bg-zuta px-4">
    <div class="overflow-x-auto w-full bg-zuta">
      <h3 class="text-2xl font-bold text-center text-blue-600 mb-4 pb-2">
        Vaši oglasi - zahtevi
      </h3>
      <table class="w-full bg-plava shadow-md rounded-lg overflow-hidden justify-center">
        <thead class="bg-gradient-to-r from-gray-800 via-gray-700 to-gray-600 text-white">
          <tr>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Korisnik</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Datum</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Posao</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Dodatne Informacije</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Vreme Dolaska</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Prihvati</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Odbij</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of jobRequests" class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-4 px-6 text-white">{{ request.username }}</td>
            <td class="py-4 px-6 text-white">{{ extractDate(request.startTime) }}</td>
            <td class="py-4 px-6 text-white">{{ request.title }}</td>
            <td class="py-4 px-6 text-white">{{ request.additionalInfo }}</td>
            <td class="py-4 px-6" *ngIf="request.currentStatus=='pending'">
              <input type="time" [(ngModel)]="request.endTime" lang="fr" step="60"
                class="border border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </td>
            <td class="py-4 px-6 text-white" *ngIf="request.currentStatus=='accepted'">{{ extractHoursAndMinutes(request.startTime) }}</td>

            <td class="py-4 px-6 text-white text-center" *ngIf="request.currentStatus=='pending'">
              <button class="bg-green-500 text-white px-3 py-1 rounded-md text-sm" id="acceptBtn"
                (click)="acceptRequest(request)">
                Prihvati
              </button>
            </td>
            <td class="py-4 px-6 text-white text-center" *ngIf="request.currentStatus=='accepted'">Posao prihvaćen</td>
            <td class="py-4 px-6 text-white text-center" *ngIf="request.currentStatus=='pending'">
              <button class="bg-red-500 text-white px-3 py-1 rounded-md text-sm" id="declineBtn"
                (click)="declineRequest(request)">
                Odbij
              </button>
            </td>
            <td class="py-4 px-6 text-white text-center" *ngIf="request.currentStatus=='accepted'">
              <button class="bg-red-500 text-white px-3 py-1 rounded-md text-sm" id="declineBtn"
                (click)="cancelRequest(request)">
                Otkaži
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <!-- KORISNIK -->
  <div class="flex justify-center py-8 bg-zuta px-4" style="width: 100%;">
    <div class="overflow-x-auto w-full bg-zuta">
      <h3 class="text-2xl font-bold text-center text-blue-600 mb-4 pb-2">
        Poslovi koje ste zatražili
      </h3>
      <table class="w-full bg-plava shadow-lg rounded-lg overflow-hidden justify-center">
        <thead class="bg-gradient-to-r from-gray-800 via-gray-700 to-gray-600 text-white">
          <tr>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Majstor</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Datum</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Posao</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Dodatne Informacije</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Vreme Dolaska</th>
            <th class="py-4 px-6 text-center uppercase text-sm font-semibold">Status</th>
            <th class="py-4 px-6 text-center uppercase text-sm font-semibold">Otkaži</th>
          </tr>
          <tr>
            <td colspan="7" class="border-b border-gray-300"></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of myJobRequests"
            class="border-b border-gray-200 hover:bg-gray-100 transition duration-200">
            <td class="py-4 px-6 text-white font-medium">{{ request.username }}</td>
            <td class="py-4 px-6 text-white" *ngIf="request.currentStatus!='accepted'">-</td>
            <td class="py-4 px-6 text-white" *ngIf="request.currentStatus=='accepted'">{{ extractDate(request.startTime)
              }}</td>
            <td class="py-4 px-6 text-white">{{ request.title }}</td>
            <td class="py-4 px-6 text-white">{{ request.additionalInfo }}</td>
            <td class="py-4 px-6 text-white" *ngIf="request.currentStatus!='accepted'">-</td>
            <td class="py-4 px-6 text-white" *ngIf="request.currentStatus=='accepted'">{{
              extractHoursAndMinutes(request.startTime) }}</td>
            <td class="py-4 px-6 text-center">
              <span class="w-24 px-4 py-2 rounded-lg text-sm font-semibold text-white shadow-md 
                  inline-block text-center" [ngClass]="{
                    'bg-green-500': request.currentStatus === 'accepted',
                    'bg-red-500': request.currentStatus === 'canceled',
                    'bg-yellow-500': request.currentStatus === 'pending'
                  }">
                {{ request.currentStatus === 'accepted' ? 'Prihvaćen' :
                request.currentStatus === 'canceled' ? 'Odbijen' :
                'Na čekanju' }}
              </span>
            </td>
            <td class="py-4 px-6 text-center">
              <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg 
                  text-sm font-medium shadow-md transition-all duration-200" (click)="cancelRequest(request)">
                Otkaži
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</main>

<app-footer></app-footer>