<main class="profile-page full-page main-container">
  <app-main-navbar></app-main-navbar>
  <!-- 
  <section class="relative block h-500-px">
    <div class="absolute top-0 w-full h-full bg-center bg-cover bg-no-repeat image-container" style="background-image: url({{backPhoto}})">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
    </div>
  </section> -->

  <section style="margin-top: 300px;">
    <div class="container mx-auto px-4" style="display: flex; flex-direction: row;">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-xl rounded-lg -mt-64 profile-info-card">
        <div class="px-6">
          <div class="flex flex-wrap justify-center">
            <div class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center profile-picture-wrapper">
              <div class="relative flex justify-center items-center">
                <img src="{{photo}}" style="border-radius: 50%; height: 100px; width: 100px; object-fit: cover;"
                  class="border border-solid border-crna">
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center c">
              <div class="flex justify-center py-4 lg:pt-4">
                <!-- <div class="mr-4 p-3 text-center">
                  <span class="text-xl text-zlatna font-bold block uppercase tracking-wide">
                    {{jobNumber}}
                  </span>
                  <span class="text-sm text-crna">Broj oglasa</span>
                </div> -->
                <div class="mr-4 p-3 text-center">
                  <span class="text-xl text-zlatna font-bold block uppercase tracking-wide" *ngIf="userRateLen!=0">
                    {{userRate}}
                  </span>
                  <span class="text-xl text-zlatna font-bold block uppercase tracking-wide" *ngIf="userRateLen==0">
                    -
                  </span>
                  <span class="text-sm text-crna">Ocena</span>
                </div>
                <div class="mr-4 p-3 text-center text-white">
                  <span class="text-xl text-zlatna font-bold block uppercase tracking-wide">
                    {{finishedJobs}}
                  </span>
                  <span class="text-sm text-crna">Odrađenih poslova</span>
                </div>
                <!-- <div class="lg:mr-4 p-3 text-center">
                  <span
                    class="text-xl font-bold block uppercase tracking-wide text-blueGray-600"
                  >
                    {{comments.length}}
                  </span>
                  <span class="text-sm text-white">Komentari</span>
                </div> -->
              </div>
              <!-- buttons -->
              <div class="py-3 px-3 mt-0 sm:mt-16 button-container"
                style="display: flex; flex-direction: column; align-items: center;" *ngIf="cookie==idUser">
                <!-- <button
                  class="uppercase text-crna font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150 button-list border-2 border-solid border-crna"
                  type="button" (click)="calendar()"> Kalendar
                </button> -->
                <button *ngIf="idUser==cookie"
                  class="uppercase text-crna font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150 button-list border-2 border-solid border-crna"
                  type="button" (click)="settings()">
                  Podešavanja
                </button>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4 lg:order-1">
              <div class="text-center mt-12">
                <h3 class="text-3xl text-crna font-semibold leading-normal mb-2 mb-2 sm:text-xl">
                  {{firstname}}&nbsp;{{lastname}}
                </h3>
                <div class="text-md text-crna leading-normal mt-0 mb-2 font-bold uppercase">
                  <i class="fas fa-map-marker-alt mr-2 text-lg text-location"></i>
                  {{location}}
                </div>
                <div class="mb-2 text-crna font-bold">
                  <i class="fas fa-user mr-2 text-lg text-crna"></i>
                  {{ professionsString }}
                </div>
                <a class="mb-2 text-crna font-bold" *ngIf="phone" [href]="'tel:' + phone">
                  <i class="fas fa-phone mr-2 text-lg text-telefon"></i>
                  {{ phone }}
                </a>
                <div class="mb-2 text-crna">
                  <button
                    class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                    type="button" *ngIf="facebook" (click)="facebook1()">
                    <i class="fab fa-facebook-f"></i>
                  </button>
                  <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                    type="button" *ngIf="instagram" (click)="instagram1()">
                    <i class="fab fa-instagram"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </section>

  <section class="mb-4" *ngIf="userInfo">
    <div class="flex justify-center items-center mt-10 px-4 rounded-lg">
      <div class="w-full max-w-2xl bg-basic rounded-2xl shadow-lg p-6  border border-solid border-crna rounded-lg">
        <h2 class="text-3xl font-semibold text-crna mb-4 mt-4 text-center">Detalji</h2>
        <hr class="border border-solid border-zlatna" />
        <p class="text-crna text-center font-semibold text-xl leading-relaxed whitespace-pre-wrap mb-4 mt-4">
          {{ userInfo }}
        </p>
      </div>
    </div>
  </section>

  <!-- GALERIJA SVIH SLIKA -->
  <section class="relative" *ngIf="imagesLoaded">
    <div class="container mx-auto px-4 gallery-wrapper"
      style="display: flex; flex-direction: row; justify-content: space-between;">
      <div class="relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg">
        <div class="rounded-t mb-0 border-0">
          <div class="flex flex-wrap items-center">
            <div class="relative w-full px-4 max-w-full flex-grow flex-1">
              <h3 class="text-4xl font-semibold leading-normal mb-2 text-center text-basic">
                Galerija
              </h3>
            </div>
          </div>
        </div>
        <gallery id="{{galleryId}}" *ngIf="imagesLoaded"
          style="width: 100% !important; height: 500px !important; object-fit: cover;"
          (indexChange)="onIndexChange($event)"></gallery>
      </div>
    </div>
  </section>

  <!-- MAJSTOR -->
  <div class="flex justify-center px-4" style="width: 100%;" *ngIf="idUser==cookie && type == 1">
    <div class="overflow-x-auto w-full">
      <h3 class="text-2xl font-bold text-center text-crna mb-4 pb-2">
        Zainteresovani za Vaše poslove
      </h3>
      <table class="w-full shadow-md rounded-lg overflow-hidden justify-center">
        <thead class="bg-gradient-to-r from-gray-800 via-gray-700 to-gray-600 text-white" *ngIf="jobOffers.length > 0">
          <tr>
            <th class="py-4 px-6 text-center uppercase text-xl font-semibold">Korisnik</th>
            <!-- <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Datum</th> -->
            <th class="py-4 px-6 text-center uppercase text-xl font-semibold">Posao</th>
            <th class="py-4 px-6 text-center uppercase text-xl font-semibold">Prihvati</th>
            <!-- <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Dodatne Informacije</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Vreme Dolaska</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Prihvati</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Odbij</th> -->
          </tr>
        </thead>
        <tbody *ngIf="jobOffers.length > 0">
          <tr *ngFor="let request of jobOffers" class="border-b border-gray-200 hover:bg-gray-100">
            <td class="py-4 px-6 text-white text-center text-xl">
              <a [routerLink]="['/profil', request.idUser]" class="job-link">
                {{ request.username }}
              </a>
            </td>
            <!-- <td class="py-4 px-6 text-white">{{ extractDate(request.startTime) }}</td> -->
            <td class="py-4 px-6 text-white text-center text-xl">
              <a [routerLink]="['/oglasi', request.idJob]" class="job-link">
                {{ request.title }}
              </a>
            </td>

            <!-- <td class="py-4 px-6 text-white">{{ request.additionalInfo }}</td> -->
            <!-- <td class="py-4 px-6" *ngIf="request.currentStatus=='pending'">
              <input type="time" [(ngModel)]="request.endTime" lang="fr" step="60"
                class="border border-gray-300 rounded-md px-2 py-1 focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </td> -->
            <!-- <td class="py-4 px-6 text-white" *ngIf="request.currentStatus=='accepted'">{{
              extractHoursAndMinutes(request.startTime) }}</td> -->

            <td class="py-4 px-6 text-white text-center" *ngIf="request.currentStatus=='offer'">
              <button class="bg-green-500 text-white px-3 py-1 rounded-md text-xl" id="acceptBtn"
                (click)="acceptRequest(request)">
                Prihvati
              </button>
            </td>
            <td class="py-4 px-6 text-white text-center" *ngIf="request.currentStatus=='accepted'">Posao prihvaćen</td>
            <!-- <td class="py-4 px-6 text-white text-center" *ngIf="request.currentStatus=='pending'">
              <button class="bg-red-500 text-white px-3 py-1 rounded-md text-sm" id="declineBtn"
                (click)="declineRequest(request)">
                Odbij
              </button>
            </td> -->
            <td class="py-4 px-6 text-white text-center" *ngIf="request.currentStatus=='accepted'">
              <button class="bg-red-500 text-white px-3 py-1 rounded-md text-sm" id="declineBtn"
                (click)="cancelRequest(request)">
                Otkaži
              </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="jobOffers.length === 0">
          <tr>
            <td colspan="7" class="py-4 px-6 text-center text-crna text-3xl font-medium">Trenutno nemate nijedan
              zahtev za posao</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <!-- KORISNIK -->
  <div class="flex justify-center py-8 px-4" style="width: 100%;" *ngIf="idUser==cookie && type == 0">
    <div class="overflow-x-auto w-full">
      <h3 class="text-2xl font-bold text-center text-basic mb-4 pb-2">
        Poslovi za koje ste zainteresovani
      </h3>
      <table class="w-full shadow-lg rounded-lg overflow-hidden justify-center">
        <thead class="bg-gradient-to-r from-gray-800 via-gray-700 to-gray-600 text-white"
          *ngIf="myJobRequests.length > 0">
          <tr>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Majstor</th>
            <!-- <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Datum</th> -->
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Posao</th>
            <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Dodatne Informacije</th>
            <!-- <th class="py-4 px-6 text-left uppercase text-sm font-semibold">Vreme Dolaska</th> -->
            <th class="py-4 px-6 text-center uppercase text-sm font-semibold">Status</th>
            <th class="py-4 px-6 text-center uppercase text-sm font-semibold">Otkaži</th>
          </tr>
          <tr>
            <td colspan="7" class="border-b border-gray-300"></td>
          </tr>
        </thead>
        <tbody *ngIf="myJobRequests.length > 0">
          <tr *ngFor="let request of myJobRequests"
            class="border-b border-gray-200 hover:bg-gray-100 transition duration-200">
            <td class="py-4 px-6 text-white font-medium">{{ request.username }}</td>
            <!-- <td class="py-4 px-6 text-white" *ngIf="request.currentStatus!='accepted'">-</td> -->
            <!-- <td class="py-4 px-6 text-white" *ngIf="request.currentStatus=='accepted'">{{ extractDate(request.startTime)
              }}</td> -->
            <td class="py-4 px-6 text-white">{{ request.title }}</td>
            <td class="py-4 px-6 text-white">{{ request.additionalInfo }}</td>
            <!-- <td class="py-4 px-6 text-white" *ngIf="request.currentStatus!='accepted'">-</td>
            <td class="py-4 px-6 text-white" *ngIf="request.currentStatus=='accepted'">{{
              extractHoursAndMinutes(request.startTime) }}</td> -->
            <td class="py-4 px-6 text-center">
              <span class="w-24 px-4 py-2 rounded-lg text-sm font-semibold text-white shadow-md 
                  inline-block text-center" [ngClass]="{
                    'bg-green-500': request.currentStatus === 'accepted',
                    'bg-red-500': request.currentStatus === 'canceled' || request.currentStatus === 'declined',
                    'bg-yellow-500': request.currentStatus === 'pending'
                  }">
                {{ request.currentStatus === 'accepted' ? 'Prihvaćen' :
                request.currentStatus === 'canceled' ? 'Otkazan' :
                request.currentStatus === 'declined' ? 'Odbijen' :
                'Na čekanju' }}
              </span>
            </td>
            <td class="py-4 px-6 text-center">
              <button class="bg-red-500 hover:bg-red-600 text-white px-4 py-2 rounded-lg 
                  text-sm font-medium shadow-md transition-all duration-200" (click)="cancelRequest(request)">
                Otkaži
              </button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="myJobRequests.length === 0">
          <tr>
            <td colspan="7" class="py-4 px-6 text-center text-white font-medium">Nemate zatraženih poslova</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>



  <!-- MOJI OGLASI -->
  <!-- <section>
    <h3 class="text-4xl font-semibold leading-normal mb-2 text-center text-basic">
      Oglasi
    </h3>
    <div class="grid grid-cols-3 gap-4 place-items-center mt-4 job-container" *ngIf="jobs">
      <div class="py-3 job-item" style="width: 70%;" *ngFor="let job of jobs">
        <app-single-job-short [job]="job"></app-single-job-short>
      </div>
    </div>
  </section> -->

</main>

<app-footer></app-footer>