@media screen and (max-width: 1025px) {
  .c {
    margin-top: 70px;
  }
}


table.items-center tr:nth-child(even) {
  background-color: #f2f2f2;
}



.message {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(239, 114, 114);
  color: white;
  padding: 10px;
  border-radius: 5px;
  color: #274153;
}

.ovde:hover {
  color: #efca21;
  background-color: #274153;
  border-radius: 5%;
}


.messageSucc {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  background-color: rgb(59, 185, 109);
  color: white;
  padding: 10px;
  border-radius: 5px;
  color: #1e293b;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media (min-width: 640px) {
  .button-container {
    flex-direction: row;
  }
}

#declineBtn {
  background-color: red;
  margin: 5px;
  color: white;
}

#declineBtn:hover {
  background-color: #d12a2a;
}

#acceptBtn {
  background-color: green;
  margin: 5px;
  color: white;
}

#acceptBtn:hover {
  background-color: #2a9d2a;
}

.job-link {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.job-link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.button-list {
  width: 200px;
  height: 48px;
  text-align: center;
  background: #eead2b;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button-list:hover {
  background: #d89b2a;
}

.profile-info-card {
  background: radial-gradient(circle, #f0f0f0, #e0e0e0);
}

.main-container {
  background: linear-gradient(to top, #eead2b, #201e26);
}

.job-container {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

/* .job-item {
  width: 70%;
  padding: 1rem;
} */

/* Dva oglasa po redu na tabletima */
@media (min-width: 640px) {
  .job-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tri oglasa po redu na većim ekranima */
@media (min-width: 1024px) {
  .job-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.gallery-wrapper {
  width: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: flex-start;

  @media (min-width: 1024px) {
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}