<style>
  .navbar {
    display: flex;
    align-items: center;
    background-color: rgb(30, 41, 59);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 60px;
    padding: 0 15px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 20px;
  }

  .nav-links {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    font-weight: bold;
  }

  .separator {
    color: white;
  }

  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-left: auto;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px;
  }

  /* Mobilni uredjaji */
  @media (max-width: 768px) {
    .burger {
      display: flex;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: rgb(30, 41, 59);
      width: 100%;
      padding: 10px 0;
    }

    .navbar.active .nav-links {
      display: flex;
    }

    .separator {
      display: none;
    }
  }
</style>

<nav class="navbar" [class.active]="menuOpen">
  <div class="logo">
    <img src="assets/img/logo3.png" alt="logo" style="width: 50px; height: 50px; border-radius: 50%;" (click)="navigateToHome()">
  </div>

  <div class="nav-links">
    <a [routerLink]="['/pocetna']">POČETNA STRANA</a>
    <span class="separator">|</span>
    <a [routerLink]="['/dodaj_oglas']" (click)="navigateToAddJob()">DODAJ OGLAS</a>
    <span class="separator">|</span>
    <a [routerLink]="['/oglasi']" (click)="navigateToJobListing()">SVI OGLASI</a>
    <span class="separator">|</span>
    <a [routerLink]="['/profil']" (click)="navigateToProfile()">PROFIL</a>
    <ng-container *ngIf="login == 1">
      <span class="separator">|</span>
      <a [routerLink]="['/pocetna']" (click)="logout()">ODJAVA</a>
    </ng-container>
    <ng-container *ngIf="login == 0">
      <span class="separator">|</span>
      <a [routerLink]="['/pocetna']" (click)="navigate_to_register()">REGISTRACIJA</a>
      <span class="separator">|</span>
      <a [routerLink]="['/pocetna']" (click)="navigate_to_login()">PRIJAVA</a>
    </ng-container>
  </div>

  <div class="burger" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>