.form-container {
    background: rgba(30, 45, 70, 0.9);
    /* Tamno plava sa providnošću */
    border: 2px solid #3b5b88;
    /* Svetliji plavi border */
    border-radius: 10px;
    /* Zaobljeni uglovi */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    /* Blaga senka */
    padding: 20px;
}

.input-field {
    background: white;
    color: #1e2d46;
    border: 1px solid #3b5b88;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.input-field:focus {
    border-color: #efca21;
    /* Boja akcije (žuta) */
    box-shadow: 0px 0px 10px rgba(239, 202, 33, 0.5);
}

button {
    width: 160px;
    height: 48px;
    text-align: center;
    background: #4A90E2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #2C6CBD;
}

.advertisement-container {
    background: linear-gradient(135deg, #201e26 70%, #eead2b);
}