#introImgDiv {
    background-image: url('../../../assets/img/r6.jpg');
    background-size: cover;
}

/* style="width: 100%; text-align: center; margin-top: 20px; background-color: rgb(239, 114, 114); color: white; padding: 10px; border-radius: 5px; " */
#msg {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    background-color: rgb(239, 114, 114);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* style="width: 100%; text-align: center; margin-top: 20px; color: white; padding: 10px; border-radius: 5px; " */
#sentMsg {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.fade-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-section.show {
    opacity: 1;
    transform: translateY(0);
}