<main>
  <app-main-navbar></app-main-navbar>

  <!-- INTRO TEXT -->
  <section #fadeSection class="intro-section">
    <div id="introVideoDiv">
      <video autoplay loop muted playsinline  poster="assets/img/texture3.webp">
        <source src="assets/video/video_farba.mp4" type="video/mp4">
      </video>
    </div>

    <div class="relative pt-16 pb-32 flex content-center items-center justify-center min-h-screen-75">
      <!-- <div class="absolute top-0 w-full h-full bg-center bg-cover">
        <span id="blackOverlay" class="w-full h-full absolute opacity-75 bg-black"></span>
      </div> -->
      <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
            <div class="pr-12">
              <h1 class="text-blueGray-600 font-semibold text-5xl">
                TI TRAŽIŠ - MI SPAJAMO
              </h1>
              <p class="mt-4 text-lg text-blueGray-600 text-justify"><strong>
                  <!-- Vorki vam donosi majstore, usluge i prevoz na dohvat ruke. Brzo, jednostavno i bez stresa – pronađite najbolje u svom kraju već sada! -->
                  Od popravke do prevoza, Vorki vas spaja s najbolje ocenjenima brzo i sigurno!
                </strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- TOP AD BANNER -->
    <!-- <div class="w-full py-10 bg-white">
    <div class="container mx-auto px-4">
      <div class="bg-gray-100 p-4 rounded-lg">
        <div class="text-center text-gray-600">
          <div class="h-24 flex items-center justify-center border border-dashed border-gray-300">
            <p class="text-sm">Prostor za reklamu - Banner 728x90</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->

    <!-- CATEGORIES -->
    <div class="-mt-24">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <!-- USLUGE -->
          <div class="w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg bg-siva usluge">
              <div class="px-4 py-5 flex-auto content">
                <div
                  class="text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blueGray-200 border-blueGray-600 border-solid border-2">
                  <img src="assets/icons/mowing.png" alt="Ikonica" class="w-8 h-8 object-contain">
                </div>
                <h6 class="text-xl font-bold text-blueGray-600">Usluge</h6>
                <!-- <p class="mt-2 mb-4 text-blueGray-600"><strong>
                    Otkrijte širok spektar usluga dostupnih u vašem okruženju. Bilo da vam je potrebna pomoć u
                    domaćinstvu
                    ili profesionalna usluga, brzo ćete pronaći najbolje ponude na našoj platformi.
                  </strong></p> -->
              </div>
              <button class="istrazi-dugme" (click)="category_navigation(2)">
                Istraži
              </button>
            </div>
          </div>

          <!-- MAJSTORI -->
          <div class="w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg bg-siva majstori">
              <div class="px-4 py-5 flex-auto content">
                <div
                  class="text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blueGray-200 border-blueGray-600 border-solid border-2">
                  <img src="assets/icons/plumber.png" alt="Ikonica" class="w-8 h-8 object-contain">
                </div>
                <h6 class="text-xl font-bold text-blueGray-600">Majstori</h6>
                <!-- <p class="mt-2 mb-4 text-blueGray-600"><strong>
                    Pronađite kvalifikovane i iskusne majstore za sve vrste popravki i renovacija. Naša platforma vam
                    pomaže da se povežete sa stručnjacima koji će zadovoljiti vaše potrebe u najkraćem mogućem roku.
                  </strong></p> -->
              </div>
              <button class="istrazi-dugme" (click)="category_navigation(1)">
                Istraži
              </button>
            </div>
          </div>
          <!-- PREVOZ -->
          <div class="w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg bg-siva prevoz">
              <div class="px-4 py-5 flex-auto content">
                <div
                  class="text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-blueGray-200 border-blueGray-600 border-solid border-2">
                  <img src="assets/icons/truck.png" alt="Ikonica" class="w-8 h-8 object-contain">
                </div>
                <h6 class="text-xl font-bold text-blueGray-600">Prevoz</h6>
                <!-- <p class="mt-2 mb-4 text-blueGray-600"><strong>
                    Bilo da vam je potreban kamionski ili kombi prevoz, selidba ili odvoženje građevinskog otpada, naša
                    platforma nudi brze i pouzdane usluge za sve vaše transportne potrebe.
                  </strong></p> -->
              </div>
              <button class="istrazi-dugme" (click)="category_navigation(3)">
                Istraži
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PLATFORM DESCRIPTION -->
  <section #fadeSection class="fade-section relative py-12 background-section">
    <div class="bg-gray-100">
      <div class="container mx-auto px-4 py-8">
        <!-- Header Section -->
        <div class="text-center mb-8">
          <h1 class="text-4xl font-bold text-blueGray-600">POVEZUJEMO LJUDE - GRADIMO ZAJEDNICU</h1>
          <p class="text-gray-600 mt-2">Uspostavljamo veze između korisnika i stručnjaka kroz otvorenu komunikaciju i
            međusobno poverenje. Sa našom podrškom zajednica raste, jača i gradi dugoročne veze koje traju izvan jednog
            projekta.</p>
          <p class="text-gray-600 mt-2"><strong>Lako, brzo i sigurno!</strong></p>
        </div>

        <!-- Features Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <!-- Notifikacije -->
          <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex items-center justify-center">
              <img src="assets/icons/bell.png" alt="Notifikacije" class="w-12 h-12 mb-4">
              <h2 class="text-xl font-semibold text-blueGray-600">Notifikacije</h2>
            </div>
            <p class="text-gray-600 mt-2">Pretplatite se na besplatne push
              notifikacije i budite među prvima koji dobijaju najnovije ponude i obaveštenja.
            </p>
          </div>

          <!-- Sve na jednom mestu -->
          <!-- <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex items-center justify-center">
              <img src="assets/icons/job-search.png" alt="Sve na jednom mestu" class="w-12 h-12 mb-4">
              <h2 class="text-xl font-semibold text-blueGray-600">Sve na jednom mestu</h2>
            </div>
            <p class="text-gray-600 mt-2">Bez obzira da li vam treba majstor, prevoz ili
              bilo koja druga usluga, lako ćete pronaći odgovarajućeg profesionalca.</p>
          </div> -->

          <!-- Bez skrivenih troškova -->
          <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex items-center justify-center">
              <img src="assets/icons/free.png" alt="Bez skrivenih troškova" class="w-12 h-12 mb-4">
              <h2 class="text-xl font-semibold text-blueGray-600">Bez skrivenih troškova</h2>
            </div>
            <p class="text-gray-600 mt-2">Besplatna rezervacija,
              dok plaćanje ide direktno pružaocima usluga.</p>
          </div>

          <!-- Bez čekanja
          <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex items-center justify-center">
              <img src="assets/icons/lighting.png" alt="Bez čekanja" class="w-12 h-12 mb-4">
              <h2 class="text-xl font-semibold text-blueGray-600">Bez čekanja</h2>
            </div>
            <p class="text-gray-600 mt-2">Vorki vam omogućava da u nekoliko klikova
              pronađete i angažujete pouzdane pružaoce usluga.</p>
          </div> -->

          <!-- Ocene i recenzije -->
          <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex items-center justify-center">
              <img src="assets/icons/star.png" alt="Ocene i recenzije" class="w-12 h-12 mb-4">
              <h2 class="text-xl font-semibold text-blueGray-600">Ocene i recenzije</h2>
            </div>
            <p class="text-gray-600 mt-2">Pročitajte iskustva drugih korisnika i
              izaberite najbolje stručnjake za vaš posao.</p>
          </div>

          <!-- Provereni stručnjaci -->
          <div class="bg-white p-6 rounded-lg shadow-lg">
            <div class="flex items-center justify-center">
              <img src="assets/icons/man.png" alt="Provereni stručnjaci" class="w-12 h-12 mb-4">
              <h2 class="text-xl font-semibold text-blueGray-600">Provereni stručnjaci</h2>
            </div>
            <p class="text-gray-600 mt-2">Bez obzira na zadatak, na Vorki platformi ćete pronaći pravog profesionalca za
              posao.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- PLATFORM DESCRIPTION LEFT SIDE
    <div class="flex flex-wrap items-center mt-12">
      <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
        <div
          class="p-3 text-center inline-flex items-center justify-center w-16 h-16 shadow-lg rounded-full bg-blueGray-700">
          <i class="fas fa-user-friends text-xl"></i>
        </div>
        <h3 class="text-3xl mb-2 font-semibold leading-normal text-black">
          Mreža koja povezuje, zajednica koja inspiriše
        </h3>
        <p class="text-lg leading-relaxed mt-4 mb-4 text-justify text-black">
          Kroz našu platformu, ne samo da pomažemo ljudima da pronađu kvalitetne majstore,
          već gradimo i zajednicu koja se zasniva na poverenju i saradnji.
        </p>
        <p class="text-lg leading-relaxed mt-0 mb-4 text-justify text-black">
          Kreiramo veze između korisnika
          i majstora, uz otvorenu komunikaciju i međusobno razumevanje.
          Uz našu podršku, zajednica raste i jača, stvarajući dugoročne veze koje prevazilaze samo jedan projekat.
        </p>
        <a [routerLink]="['/autentikacija/registracija']" class="font-bold mt-8 text-black">
          Pridruži se i postani deo Vorki zajednice!
        </a>
      </div>

      <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-lg bg-blueGray-700">
          <img alt="..." src="assets/img/dane1.jpg" class="w-full align-middle rounded-t-lg" />
          <blockquote class="relative p-8 mb-4">
            <h4 class="text-xl font-bold text-white">Budi uvek prvi obavešten</h4>
            <p class="text-md font-light mt-2 text-white">
              Jednim klikom besplatno se pretplati i obezbedi sebi da ti stigne notifikacija svaki put kada dobiješ
              zahtev za novi posao ili se pojavi oglas koji odgovara tvom području rada.
            </p>
            <button
              class="bg-zuta hover:bg-blue-600 font-bold py-2 px-6 rounded-lg shadow-md transition-all justify-center mt-4"
              (click)="subscribeToNotifications()" [disabled]="isSubscribed">
              {{ isSubscribed ? 'Već ste pretplaćeni' : 'Pretplati se' }}
            </button>
          </blockquote>
        </div>
      </div>
    </div> -->
  </section>

  <!-- MIDDLE AD BANNER -->
  <div class="w-full py-8 bg-white">
    <div class="container mx-auto px-4">
      <div class="bg-gray-100 p-4 rounded-lg">
        <!-- <div class="text-center text-gray-600"> -->
        <!-- Ad Space -->
        <div class="h-24 flex items-center justify-center border border-dashed border-gray-300">
          <img src="assets/img/banner.webp" alt="Reklama" class="h-full w-full object-contain rounded-lg">
        </div>
        <!-- </div> -->
      </div>
    </div>
  </div>

  <!-- WHY US -->
  <!-- <section #fadeSection class="fade-section relative py-10 bg-zuta">
    <div class="top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20">
      <svg class="absolute bottom-0 overflow-hidden" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none"
        version="1.1" viewBox="0 0 2560 100" x="0" y="0">
      </svg>
    </div>

    <div class="container mx-auto px-4">
      <div class="items-center flex flex-wrap">
        <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
          <img alt="..." class="max-w-full rounded-lg shadow-lg" src="assets/img/pocetna13.jpg" />
        </div>
        <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
          <div class="md:pr-12">
            <div
              class="p-3 text-white text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-blueGray-700">
              <i class="fas fa-rocket text-xl"></i>
            </div>
            <h3 class="text-3xl font-semibold">Zašto baš Vorki?</h3>
            <p class="mt-4 text-lg leading-relaxed font-bold">
              Jer verujemo u stvaranje boljeg sutra - zajedno.
            </p>
            <ul class="list-none mt-6">
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-white text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full bg-blueGray-700 mr-3">
                      <i class="fas fa-user"></i>
                    </span>
                  </div>
                  <div>
                    <h4>
                      Pažljivo odabrani majstori
                    </h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-white text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full bg-blueGray-700 mr-3">
                      <i class="fas fa-hammer"></i>
                    </span>
                  </div>
                  <div>
                    <h4>Sve vrste poslova i usluga</h4>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="flex items-center">
                  <div>
                    <span
                      class="text-white text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full bg-blueGray-700 mr-3">
                      <i class="fas fa-network-wired"></i>
                    </span>
                  </div>
                  <div>
                    <h4>Brzo povezivanje</h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- TOP MASTERS -->
  <section #fadeSection class="fade-section pt-12 pb-20 top-masters-background">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-12">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="text-4xl font-semibold text-blueGray-800 text-center">Predstavljamo vam naše stručnjake</h2>
          <p class="text-lg leading-relaxed m-4 text-blueGray-800 text-center">
            Zahvaljujući vašim ocenama, izdvojili smo najbolje stručnjake koji su se istakli svojim radom.
          </p>
        </div>
      </div>
      <div class="flex flex-wrap">
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <a [routerLink]="['/profil', topMasters[0].id]">
              <img alt="..." [src]="topMasters[0].photo"
                class="object-cover rounded-full shadow-lg mx-auto border-blueGray-600 border-solid border-2"
                style="border-radius: 50%; height: 120px; width: 120px;" />
              <!-- <img alt="..." [src]="topMasters[0].photo" class="shadow-lg rounded-full mx-auto max-w-120-px" /> -->
            </a>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold text-blueGray-800">{{topMasters[0].username}}</h5>
              <p class="mt-1 text-sm uppercase font-semibold text-blueGray-800">
                {{topMasters[0].location}}
              </p>
              <!-- DRUSTVENE MREZE -->
              <!-- <div class="mt-6">
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-instagram"></i>
                </button>
              </div> -->
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <a [routerLink]="['/profil', topMasters[1].id]">
              <img alt="..." [src]="topMasters[1].photo"
                class="object-cover rounded-full shadow-lg mx-auto border-blueGray-600 border-solid border-2"
                style="border-radius: 50%; height: 120px; width: 120px;" />
            </a>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold text-blueGray-800">{{topMasters[1].username}}</h5>
              <p class="mt-1 text-sm uppercase font-semibold text-blueGray-800">
                {{topMasters[1].location}}
              </p>
              <!-- <div class="mt-6">
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-instagram"></i>
                </button>
              </div> -->
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <a [routerLink]="['/profil', topMasters[2].id]">
              <img alt="..." [src]="topMasters[2].photo"
                class="object-cover rounded-full shadow-lg mx-auto border-blueGray-600 border-solid border-2"
                style="border-radius: 50%; height: 120px; width: 120px;" />
            </a>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold text-blueGray-800">{{topMasters[2].username}}</h5>
              <p class="mt-1 text-sm uppercase font-semibold text-blueGray-800">
                {{topMasters[2].location}}
              </p>
              <!-- <div class="mt-6">
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-instagram"></i>
                </button>
              </div> -->
            </div>
          </div>
        </div>
        <div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
          <div class="px-6">
            <a [routerLink]="['/profil', topMasters[3].id]">
              <img alt="..." [src]="topMasters[3].photo"
                class="object-cover rounded-full shadow-lg mx-auto border-blueGray-600 border-solid border-2"
                style="border-radius: 50%; height: 120px; width: 120px;" />
            </a>
            <div class="pt-6 text-center">
              <h5 class="text-xl font-bold text-blueGray-800">{{topMasters[3].username}}</h5>
              <p class="mt-1 text-sm uppercase font-semibold text-blueGray-800">
                {{topMasters[3].location}}
              </p>
              <!-- <div class="mt-6">
                <button
                  class="bg-lightBlue-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <button class="bg-pink-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                  type="button">
                  <i class="fab fa-instagram"></i>
                </button>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- QUESTIONS -->
  <section #fadeSection class="fade-section relative block py-24 lg:pt-0 bg-modern">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap items-center justify-center lg:justify-between">

        <!-- Leva strana - Mockup slika -->
        <div class="mockup-container">
          <img src="assets/img/mock_laptop2.webp" alt="Mockup sajta" class="mockup-image">
        </div>

        <!-- Desna strana - Forma -->
        <div class="form-container">

          <!-- BOTTOM AD BANNER -->
          <div class="w-full py-8">
            <div class="container mx-auto px-4">
              <div class="bg-gray-700 p-4 rounded-lg">
                <div class="text-center text-gray-300">
                  <div class="h-24 flex items-center justify-center border border-dashed border-gray-500">
                    <img src="assets/img/banner.webp" alt="Reklama" class="h-full w-full object-contain rounded-lg">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="relative flex flex-col min-w-0 break-words w-full shadow-lg rounded-lg bg-blueGray-200 p-5 lg:p-10 border-2 border-solid border-blueGray-600 justify-center items-center">
            <h4 class="text-2xl font-semibold text-center">Pitanje ili predlog?</h4>
            <p class="leading-relaxed mt-1 mb-4 text-blueGray-500 text-center">
              Popunite formu i dobićete odgovor u najkraćem mogućem roku.
            </p>
            <div class="relative w-full mb-3 mt-8">
              <input type="text" maxlength="100"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                placeholder="Ime i prezime" [(ngModel)]="nameAndSurname" />
            </div>

            <div class="relative w-full mb-3">
              <input type="email" maxlength="100"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                placeholder="Broj telefona ili email" [(ngModel)]="contact" />
            </div>

            <div class="relative w-full mb-3">
              <textarea rows="4" cols="80" maxlength="800"
                class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full"
                placeholder="Poruka..." [(ngModel)]="message"></textarea>
            </div>
            <div class="text-center mt-6">
              <button
                class="bg-blueGray-800 text-white active:bg-blueGray-600 text-sm font-bold uppercase px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                type="button" (click)="send()">
                Pošalji poruku
              </button>
            </div>
            <div *ngIf="msg" id="msg">
              {{msg}}
            </div>
            <div *ngIf="sentMsg" id="sentMsg" class="text-center mt-6 bg-blueGray-700">
              {{sentMsg}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


</main>
<app-footer></app-footer>