/* General container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Form wrapper */
.form-wrapper {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    background: linear-gradient(135deg, rgba(238, 173, 43, 0.9) 0%, rgba(32, 30, 38, 0.9) 100%);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

/* Form container */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.form-header {
    text-align: center;
    margin-bottom: 20px;
}

.form-header h1 {
    font-size: 24px;
    font-weight: bold;
}

/* Form body */
.form-body {
    width: 100%;
}

/* Input group */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    font-size: 12px;
    color: #9f9f9f;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #201e26;
    background: #fcfcfd;
    color: #201e26;
    border-radius: 6px;
    outline: none;
    transition: border 0.3s;
}

.input-group input:focus {
    border: 1px solid #eead2b;
}

/* Submit button */
.submit-btn {
    margin-top: 20px;
}

.submit-btn button {
    width: 100%;
    background: #eead2b;
    color: #201e26;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn button:hover {
    background: #201e26;
    color: #eead2b;
}

/* Navigation links */
.navigation-links {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.navigation-links a {
    color: #eead2b;
    font-weight: bold;
    text-decoration: none;
}

.navigation-links a:hover {
    text-decoration: underline;
}

/* Message styles */
.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
}

.message.error {
    background-color: rgb(239, 114, 114);
    color: white;
}

.message.success {
    background-color: rgb(67, 160, 71);
    color: white;
}

.forgotten-subtitle {
    color: #201e26;
    font-size: 14px;
    margin-top: 5px;
}