<div class="container bg-modern">
  <div class="form-wrapper">
    <div class="form-container">
      <!-- HEADER -->
      <div class="form-header">
        <h1 class="text-blueGray-200">Zaboravljena lozinka</h1>
        <p class="forgotten-subtitle">Unesite vašu email adresu i stići će vam link za resetovanje lozinke.</p>
      </div>
      <div class="form-body">
        <!-- FORM -->
        <form>
          <!-- EMAIL INPUT -->
          <div class="input-group">
            <input [(ngModel)]="email" name="email" type="email" placeholder="Email"/>
          </div>

          <!-- SUBMIT BUTTON -->
          <div class="submit-btn">
            <button type="button" (click)="submit()">Potvrdi</button>
          </div>

          <!-- NAVIGATION LINKS -->
          <div class="navigation-links">
            <a [routerLink]="['/autentikacija/registracija']">Registracija</a>
            <a [routerLink]="['/autentikacija/prijava']">Prijava</a>
          </div>

          <!-- MESSAGES -->
          <div *ngIf="message" class="message error">
            {{ message }}
          </div>
          <div *ngIf="messageSucc" class="message success">
            <label>{{ messageSucc }}</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
