.not-found-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/img/chains.jpg');
    background-size: cover;
    background-position: center;
  }

  .message-box {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .fa-exclamation-triangle {
    color: red;
    font-size: 2rem;
    margin: 5px;
  }

  .message-box h1 {
    font-size: 2rem;
    font-weight: bolder;
  }