<div class="not-found-container">
  <div class="message-box">
    <i class="fas fa-exclamation-triangle	"></i>
    <h1>Stranica nije pronađena</h1>
    <i class="fas fa-exclamation-triangle	"></i>

  </div>
</div>

<style>
  .not-found-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/img/r6.jpg');
    background-size: cover;
    background-position: center;
  }

  .message-box {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .fa-exclamation-triangle {
    color: red;
    font-size: 3rem;
    margin-right: 10px;
  }

  .message-box h1 {
    color: black;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
</style>
