<main class="profile-page bg-gradient-crna">
  <app-main-navbar></app-main-navbar>
  <!-- <section class="relative block h-500-px">
    <div class="absolute top-0 w-full h-full bg-center bg-cover image-container" style="
        background-image: url({{backPhoto}})">
      <span id="blackOverlay" class="w-full h-full absolute opacity-50 bg-black"></span>
      <div class="overlay1">
        <label for="fileInput1" style="color: white;font-size: xx-large;">Izmeni</label>
        <input #fileInput1 id="fileInput1" type="file" (change)="loadPhoto($event,1)" class="hidden"
          accept=".jpg, .jpeg, .png">
      </div>
    </div>
    <div class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden h-70-px"
      style="transform: translateZ(0); display: flex; justify-content: center; margin-bottom: 5px;">
    </div>
  </section> -->
  <section class="relative">
    <div class="relative flex flex-col min-w-0 break-words w-full mb-6 rounded-lg border-0">

      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form>
          <div style="display: flex; flex-direction: row; justify-content: center;">
            <div class="image-container" style="margin-top: 5px;">
              <img src="{{photo}}"
                style="border-radius: 50%; height: 100px; width: 100px; object-fit: cover; border: 1px solid #eead2b;">
              <div class="overlay">
                <label for="fileInput2" style="color: #fcfcfd;">Izmeni</label>
                <input #fileInput2 id="fileInput2" type="file" (change)="loadPhoto($event,0)" class="hidden"
                  accept=".jpg, .jpeg, .png">
              </div>

            </div>
          </div>

          <!-- <div class="flex justify-center items-center min-h-screen bg-gray-100"> -->
            <div class="w-full max-w-2xl p-6 bg-white rounded-2xl shadow-lg mt-4 mb-2">
              <h2 class="text-2xl font-bold text-center text-crna">Reci nešto o sebi</h2>
              <textarea [(ngModel)]="infoText" name="infoText"
                placeholder="Opiši sebe, iskustvo, veštine ili šta god želiš da potencijalni korisnici znaju o tebi..." rows="8"
                class="w-full p-4 border border-gray-300 rounded-xl resize-none focus:outline-none focus:ring-2 focus:ring-yellow-400 focus:border-transparent text-crna"></textarea>
            </div>
          <!-- </div> -->


          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-basic text-xs font-semibold mb-2" htmlFor="grid-password">
                  Korisničko ime
                </label>
                <input type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna"
                  value="{{username}}" [(ngModel)]="username" name="username" />
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-basic text-xs font-semibold mb-2" htmlFor="grid-password">
                  Email
                </label>
                <input type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna"
                  value="{{email}}" [(ngModel)]="email" name="email" />
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-basic text-xs font-semibold mb-2" htmlFor="grid-password">
                  Ime
                </label>
                <input type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna"
                  value="{{firstname}}" [(ngModel)]="firstname" name="firstname" />
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-basic text-xs font-semibold mb-2" htmlFor="grid-password">
                  Prezime
                </label>
                <input type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna"
                  value="{{lastname}}" [(ngModel)]="lastname" name="lastname" />
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-basic text-xs font-semibold mb-2" htmlFor="grid-password">
                  Poslovi kojima se bavite
                </label>

                <div class="dropdown relative">
                  <input type="text" name="profess" [(ngModel)]="searchTerm" (focus)="showProfessions()"
                    (input)="filterProfessions()"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna"
                    placeholder="Pretraži zanimanja..." />

                  <div *ngIf="isDropdownVisible" #dropdown tabindex="0" style="-webkit-overflow-scrolling: touch;"
                    class="dropdown-menu absolute bg-white z-10 border rounded w-full max-h-60 overflow-y-auto mt-1 shadow-lg">
                    <div class="flex justify-end p-2">
                      <button class="text-red-500 font-bold" (click)="hideProfessions()">✖</button>
                    </div>

                    <div *ngFor="let profession of professions"
                      class="dropdown-item flex items-center px-4 py-2 hover:bg-gray-100">
                      <input type="checkbox" [checked]="selectedProfessions.includes(profession)"
                        (change)="toggleSelection(profession)" class="mr-2" />
                      <span class="text-basic">{{ profession }}</span>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label htmlFor="grid-password" class="block uppercase text-basic text-xs font-semibold mb-2">Zelim da
                  primam
                  zahteve u krugu
                  od:</label>
                <select id="distanceFilter" name="distanceFilter" [(ngModel)]="selectedDistance"
                  class="border-0
                  px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow
                  focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna">
                  <option *ngFor="let opt of distanceOptions" [value]="opt.value">
                    {{ opt.label }}
                  </option>
                </select>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-basic text-xs font-semibold mb-2" htmlFor="grid-password">
                  Mesto
                </label>
                <select [(ngModel)]="location" name="location" style="margin-bottom: 10px;"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna">
                  <option *ngFor="let grad of gradovi" [ngValue]="grad.city">{{ grad.city }}</option>
                </select>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-basic text-xs font-semibold mb-2" htmlFor="grid-password">
                  Mobilni telefon
                </label>
                <input type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna"
                  value="{{phone}}" [(ngModel)]="phone" name="phone" />
              </div>
            </div>
          </div>

          <div style="width: 100%;display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column;margin-bottom: 20px;">
              <button style="margin-top: 5px;" (click)="update()"
                class="uppercase text-crna font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                type="button">
                Izmeni informacije
              </button>
            </div>
          </div>

          <!-- GALERIJA -->
          <h1 *ngIf="!imagesLoaded" class="text-center text-basic text-3xl">Vaša galerija je prazna</h1>
          <div class="gallery-wrapper mt-6">
            <gallery id="{{galleryId}}" class="bg-crna" (indexChange)="onIndexChange($event)" *ngIf="imagesLoaded">
            </gallery>
            <div class="flex justify-center">
              <!-- <button class="m-2" (click)="removeCurrentImage()" *ngIf="imagesLoaded">Ukloni ovu sliku</button> -->
              <label class="m-2 img-file-input">
                Dodaj slike
                <input type="file" id="images" (change)="onFileSelected($event)" multiple hidden />
              </label>
            </div>
            <!-- <button class="m-2 bg-crna" (click)="addImages()">Dodaj slike</button> -->
          </div>

          <div class="flex flex-wrap">
            <div class="w-full lg:w-3/12"></div>
            <div class="w-full lg:w-6/12 px-4" style="display: flex; justify-content: center;">
              <div class="relative w-full mb-3">
                <label class="block uppercase text-basic text-xs font-semibold mb-2 py-5" htmlFor="grid-password">
                  Promena lozinke
                </label>
                <input type="password"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna"
                  placeholder="Stara lozinka" style="margin-bottom: 10px;" name="oldPassword"
                  [(ngModel)]="oldPassword" />
                <input type="password"
                  class=" border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna"
                  placeholder="Nova lozinka" style="margin-bottom: 10px;" name="password" [(ngModel)]="password" />
                <input type="password"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150 border-2 border-solid border-zlatna"
                  placeholder="Ponovite novu lozinku" style="margin-bottom: 10px;" name="password1"
                  [(ngModel)]="password1" />
              </div>
            </div>
            <div class="w-full lg:w-3/12"></div>
            <div style="width: 100%;display: flex; justify-content: center;">
              <div style="display: flex; flex-direction: column;margin-bottom: 20px;">
                <button style="margin-top: 5px;" (click)="newPass()"
                  class="uppercase text-crna font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1 ease-linear transition-all duration-150"
                  type="button">
                  Potvrdi
                </button>
              </div>
            </div>
          </div>

          <div style="width: 100%;display: flex; justify-content: center;">
            <div style="display: flex; flex-direction: column;margin-bottom: 20px;">
              <div *ngIf="message" [ngClass]="{'error-message': err === 1, 'success-message': err === 0}"
                style="width: 100%; text-align: center; margin-top: 20px; color: white; padding: 10px; border-radius: 5px;">
                {{message}}
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

  <app-footer></app-footer>